{% extends "layout.html" %}{% block content %}

    <h1 style="text-align: center;">Referências</h1>


<div class="conteudo_interno size">
    <p>Livro 1: Um guia definitivo para o Scrum: As regras do jogo</p>
<p>Autores: Ken Schwaber e Jeff Sutherland, Julho de 2013</p>
</div>

<div class="conteudo_interno size">
    <p>Livro 2: Scrum–Guia de Referência ADAPTWORKS TREINAMENTOS - todos os direito reservados</p>
<p>Editora: AdaptWorks Al. Lorena, 638 • 4º andar, São Paulo, SP</p>
</div>

<div class="conteudo_interno size">
    <p>Livro 3: Scrum e Agile em Projetos - Guia Completo</p>
    <p>Autor: Fábio Cruz, 2015</p>
</div>

<div class="conteudo_interno size">
    <p>Site 1: https://www.wikiwand.com/en/Scrum_(software_development)</p>
</div>

<div class="conteudo_interno size">
    <p>Site 2: https://www.scrum.org/</p>
</div>
{% endblock %}