{% extends "layout.html" %}{% block content %} {% block css %}
<!-- Colocar o CSS específico da página dentro desse bloco -->
<link rel="stylesheet" href="../static/po.css" />
{% endblock %}
{% block name %}Avaliador{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col" style="background-color: #efefef"></div>

        <div class="col-10 p-0">
            <div class="img-container">
                <img src="../static/img/avaliador_1.png" class="img-fluid" alt="Metodologia Ágil" />
                <div class="text-overlay">
                    <h1>Avaliação de Desempenho</h1>
                    <p class="fs-6">Avaliar seu desempenho no Scrum é fundamental para melhorar suas entregas e influência no desempenho coletivo.</p>
                </div>
            </div>
        </div>
        <div class="col" style="background-color: #efefef"></div>
    </div>

    <div class="row">
        <div class="col p-0"></div>
        <div class="col-10 p-0">
            <form id="avaliador" action="post">
                <div class="texto_home_1">
                    <h5 style="margin-top: 3.5%">1. Compreensão do scrum</h5>
                    <div class="shadow-sm mb-5 bg-body-tertiary rounded texto_home_1" style="padding: 1%">
                        <p>Entendimento dos papéis, eventos e artefatos do scrum; aplicação dos conceitos de transparência, inspeção e adaptação</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio1" id="criterio1-1" value="1" required />
                            <label class="form-check-label" for="criterio1-1"> Não atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio1" id="criterio1-2" value="2" required />
                            <label class="form-check-label" for="criterio1-2"> Abaixo das espectativas </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio1" id="criterio1-3" value="3" required />
                            <label class="form-check-label" for="criterio1-3"> Atende parcialmente </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio1" id="criterio1-4" value="4" required />
                            <label class="form-check-label" for="criterio1-4"> Atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio1" id="criterio1-5" value="5" required />
                            <label class="form-check-label" for="criterio1-5"> Supera as expectativas </label>
                        </div>
                    </div>
                </div>
                <div class="txt4">
                    <h5 style="margin-top: 2%">2. Colaboração em equipe</h5>
                    <div class="shadow-sm mb-5 bg-body-tertiary rounded texto_home_1" style="padding: 1%">
                        <p>Participação ativa nas reuniões diárias; contribuição para a resolução de impedimentos</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio2" id="criterio2-1" value="1" required />
                            <label class="form-check-label" for="criterio2-1"> Não atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio2" id="criterio2-2" value="2" required />
                            <label class="form-check-label" for="criterio2-2"> Abaixo das espectativas </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio2" id="criterio2-3" value="3" required />
                            <label class="form-check-label" for="criterio2-3"> Atende parcialmente </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio2" id="criterio2-4" value="4" required />
                            <label class="form-check-label" for="criterio2-4"> Atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio2" id="criterio2-5" value="5" required />
                            <label class="form-check-label" for="criterio2-5"> Supera as expectativas </label>
                        </div>
                    </div>
                </div>

                <!-- aula no 405 -->

                <div class="txt4">
                    <h5 style="margin-top: 2%">3. Planejamento e definição das sprints</h5>
                    <div class="shadow-sm mb-5 bg-body-tertiary rounded texto_home_1" style="padding: 1%">
                        <p>Participação construtiva no planejamento da sprint; definição clara e realista dos objetivos das sprints</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio3" id="criterio3-1" value="1" required />
                            <label class="form-check-label" for="criterio3-1"> Não atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio3" id="criterio3-2" value="2" required />
                            <label class="form-check-label" for="criterio3-2"> Abaixo das espectativas </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio3" id="criterio3-3" value="3" required />
                            <label class="form-check-label" for="criterio3-3"> Atende parcialmente </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio3" id="criterio3-4" value="4" required />
                            <label class="form-check-label" for="criterio3-4"> Atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio3" id="criterio3-5" value="5" required />
                            <label class="form-check-label" for="criterio3-5"> Supera as expectativas </label>
                        </div>
                    </div>
                </div>
                <div class="txt4">
                    <h5 style="margin-top: 2%">4. Execução das sprints</h5>
                    <div class="shadow-sm mb-5 bg-body-tertiary rounded texto_home_1" style="padding: 1%">
                        <p>Progresso visível em relação aos objetivos da sprint; flexibilidade para lidar com mudanças durante a sprint</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio4" id="criterio4-1" value="1" required />
                            <label class="form-check-label" for="criterio4-1"> Não atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio4" id="criterio4-2" value="2" required />
                            <label class="form-check-label" for="criterio4-2"> Abaixo das espectativas </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio4" id="criterio4-3" value="3" required />
                            <label class="form-check-label" for="criterio4-3"> Atende parcialmente </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio4" id="criterio4-4" value="4" required />
                            <label class="form-check-label" for="criterio4-4"> Atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio4" id="criterio4-5" value="5" required />
                            <label class="form-check-label" for="criterio4-5"> Supera as expectativas </label>
                        </div>
                    </div>
                </div>
                <div class="txt4">
                    <h5 style="margin-top: 2%">5. Entrega das sprints</h5>
                    <div class="shadow-sm mb-5 bg-body-tertiary rounded texto_home_1" style="padding: 1%">
                        <p>Produtos entregues atendem aos critérios de aceitação; valor de negócio alcançado com as entregas</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio5" id="criterio5-1" value="1" required />
                            <label class="form-check-label" for="criterio5-1"> Não atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio5" id="criterio5-2" value="2" required />
                            <label class="form-check-label" for="criterio5-2"> Abaixo das espectativas </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio5" id="criterio5-3" value="3" required />
                            <label class="form-check-label" for="criterio5-3"> Atende parcialmente </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio5" id="criterio5-4" value="4" required />
                            <label class="form-check-label" for="criterio5-4"> Atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio5" id="criterio5-5" value="5" required />
                            <label class="form-check-label" for="criterio5-5"> Supera as expectativas </label>
                        </div>
                    </div>
                </div>
                <div class="txt4">
                    <h5 style="margin-top: 2%">6. Melhoria contínua</h5>
                    <div class="shadow-sm mb-5 bg-body-tertiary rounded texto_home_1" style="padding: 1%">
                        <p>Produtos entregues atendem aos critérios de aceitação; valor de negócio alcançado com as entregas</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio6" id="criterio6-1" value="1" required />
                            <label class="form-check-label" for="criterio6-1"> Não atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio6" id="criterio6-2" value="2" required />
                            <label class="form-check-label" for="criterio6-2"> Abaixo das espectativas </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio6" id="criterio6-3" value="3" required />
                            <label class="form-check-label" for="criterio6-3"> Atende parcialmente </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio6" id="criterio6-4" value="4" required />
                            <label class="form-check-label" for="criterio6-4"> Atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio6" id="criterio6-5" value="5" required />
                            <label class="form-check-label" for="criterio6-5"> Supera as expectativas </label>
                        </div>
                    </div>
                </div>
                <div class="txt4">
                    <h5 style="margin-top: 2%">7. Adoção dos princípios ágeis</h5>
                    <div class="shadow-sm mb-5 bg-body-tertiary rounded texto_home_1" style="padding: 1%">
                        <p>Aplicação dos princípios ágeis em todo o processo; busca pela excelência técnica e qualidade</p>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio7" id="criterio7-1" value="1" required />
                            <label class="form-check-label" for="criterio7-1"> Não atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio7" id="criterio7-2" value="2" required />
                            <label class="form-check-label" for="criterio7-2"> Abaixo das espectativas </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio7" id="criterio7-3" value="3" required />
                            <label class="form-check-label" for="criterio7-3"> Atende parcialmente </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio7" id="criterio7-4" value="4" required />
                            <label class="form-check-label" for="criterio7-4"> Atende </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="criterio7" id="criterio7-5" value="5" required />
                            <label class="form-check-label" for="criterio7-5"> Supera as expectativas </label>
                        </div>
                    </div>
                </div>
                <div class="txt4 d-flex align-items-center texto_home_1" style="padding: 1%">
                    <button type="submit" class="btn btn-outline-dark">Calcular</button>
                    <p id="resultado" class="align-items-center" style="margin: 0 0 0 5%; font-size: 140%">Resultado:</p>
                </div>
            </form>
        </div>
        <div class="col p-0"></div>
    </div>
</div>

<script>
    const form = document.querySelector("form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        let criterios = [];
        for (let i = 1; i <= 7; i++) {
            let valor = document.forms.avaliador["criterio" + String(i)];
            console.log(valor.value);
            criterios.push(parseInt(valor.value));
        }
        criterios[0] *= 2;
        criterios[6] *= 2;
        var pontuacao = criterios.reduce((acc, val) => ((acc != null && acc) || 0) + val);
        let r = pontuacaoCategoria((pontuacao / 45) * 10);
        document.querySelector("#resultado").innerText = "Resultado: " + r;
    });
    function pontuacaoCategoria(pontuacao) {
        console.log(pontuacao);
        if (pontuacao <= 3) {
            return "Muito ruim";
        } else if (pontuacao <= 6) {
            return "Ruim";
        } else if (pontuacao <= 7) {
            return "Aceitável";
        } else if (pontuacao <= 9) {
            return "Bom";
        } else if (pontuacao > 9) {
            return "Excelente";
        }
    }
</script>

{% endblock %}
