{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Avaliação de Desempenho</h1>
</div>

<div class="conteudo_interno">
    <h2 style="font-size: 120%"> UTILIZE OS SEGUINTES CRITÉRIOS DE AVALIAÇÃO</h2>
        <ol style="font-size: 120%;">
            <li>Não atende</li>
            <li>Abaixo das espectativas</li>
            <li>Atende parcialmente</li> 
            <li>Atende</li>
            <li>Supera as expectativas</li> 
        </ol>
</div>

<div class="conteudo_interno">
    <h2 style="font-size:90%;">COMPREENSÃO DO SCRUM</h2>
        <p class="caixa_avaliador" style="font-size: 100%;">Entendimento dos papéis, eventos e artefatos do Scrum; Aplicação dos conceitos de transparência, inspeção e adaptação.</p>

    



       <ul class="caixa_avaliador_2">
        <li> </li>
       </ul>

       
</div>



{% endblock %}
