{% extends "layout.html" %} {% block style %}
<link rel="stylesheet" href="../static/burndown.css" />
{% endblock %} {% block content %}

<div class="título_principal">
  <h1>Burndown Chart</h1>
</div>

<div class="descrição_1" >
  <h2></h2>
      <p style="font-size: 150%;"> É um gráfico que mostra o progresso de uma equipe ao longo do tempo, representando a quantidade de trabalho restante em um projeto ou sprint.
      </p>
      <ul style="font-size: 150%;">
        <li><strong>Defina a escala de tempo:</strong>Escolha a unidade de tempo (dias ou semanas) para representar o progresso do Sprint.</li>
      </ul>
      <ul style="font-size: 150%;">
        <li><strong>Estabeleça uma linha de base:</strong>Determine o ponto de partida, geralmente a quantidade total de trabalho planejado no primeiro dia do Sprint.</li>
      </ul>
      <ul style="font-size: 150%;">
        <li><strong>Liste as tarefas:</strong> O Burndown Chart lista tarefas no eixo vertical (trabalho) e deve ser atualizado diariamente com o trabalho restante à medida que as tarefas são concluídas.</li>
      </ul>
      <ul style="font-size: 150%;">
        <li><strong>Inclua pontos de controle:</strong> Adicione marcos ou linhas de referência que representam os objetivos diários de progresso.</li>
      </ul>
      <ul style="font-size: 150%;">
        <li><strong>Identifique desvios e compartilhe:</strong> O Burndown Chart monitora o progresso da equipe, detecta desvios e compartilha informações para transparência e melhorias contínuas.</li>
      </ul>
</div>
<div class="imagem_1">
  <img src="{{ url_for('static', filename='img/burndown.png') }}" 
    alt="história scrum">
</div>

    
{% endblock %}

