{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Definition of Ready</h1>
</div>

<div class="conteudo_interno size">
    <p>
        A "Definition of Ready" (DoR) é um conceito dentro do framework Scrum
        que descreve as condições que um item de backlog (normalmente, uma User
        Story) deve atender antes de ser considerado pronto para ser incluído em
        um Sprint e desenvolvido pela equipe de Scrum. A DoR é uma ferramenta
        valiosa para garantir que o trabalho planejado para um Sprint seja
        claro, compreensível e suficientemente detalhado para que a equipe possa
        começar a trabalhar nele sem interrupções ou incertezas significativas.
    </p>
</div>
<div class="conteudo_interno size">
    <p>
        <strong>Estes são os passos para uma boa Definition of Ready:</strong>
    </p>
    <p></p>
    <p></p>
    <ul>
        <li>
            <strong>Descrição clara da User Story:</strong> A DoR deve incluir
            uma descrição clara e concisa da User Story que seja compreensível
            por todos os membros da equipe e partes interessadas. Deve responder
            às perguntas básicas: O que precisa ser feito? Por que é importante?
        </li>
        <p></p>
        <p></p>
        <li>
            <strong> Critérios de aceitação: </strong> Esses critérios descrevem
            condições específicas que a User Story deve atender para ser
            considerada concluída. Eles são usados para determinar se a User
            Story atende aos requisitos do cliente e às expectativas do Product
            Owner
        </li>
        <p></p>
        <p></p>
        <li>
            <strong> Estimativa de tamanho e esforço: </strong>A equipe de
            desenvolvimento deve fornecer uma estimativa aproximada do tamanho e
            do esforço necessários para completar a User Story. Isso ajuda a
            equipe a planejar o Sprint e alocar o trabalho de maneira adequada.
        </li>
        <p></p>
        <p></p>
        <li>
            <strong>Dependências e pré-requisitos:</strong> Se a User Story tiver
            dependências de outras User Stories ou requisitos, essas
            dependências devem ser identificadas na DoR. Isso permite que a
            equipe e o Product Owner entendam quais atividades podem precisar
            ser realizadas antes que a User Story em questão possa ser iniciada.
        </li>
        <p></p>
        <p></p>
        <li>
            <strong>Definição de pronto para teste: </strong>A DoR pode incluir
            critérios que indiquem quando a User Story estará pronta para ser
            testada. Isso ajuda a garantir que o trabalho seja desenvolvido de
            maneira apropriada para testes e validações posteriores.
        </li>
        <p></p>
        <p></p>
        <li>
            <strong>Aceitação pelo Product Owner: </strong>Antes que uma User
            Story seja considerada pronta, o Product Owner deve revisá-la e
            concordar que ela atende aos critérios definidos na DoR. A aceitação
            do Product Owner é essencial para garantir que o trabalho realizado
            esteja alinhado com as expectativas do cliente e com os objetivos do
            produto.
        </li>
        <p></p>
        <p></p>
        <li>
            <strong> Apoio da equipe: </strong> A equipe de desenvolvimento
            também deve concordar que a User Story está pronta para ser
            trabalhada. Isso envolve a análise da equipe para garantir que todos
            os recursos necessários estão disponíveis e que a User Story é
            suficientemente compreendida.
        </li>
    </ul>
</div>

{% endblock %}
