{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Definition of Done</h1>
</div>

<div class="conteudo_interno size">
    <p>
        A "<abbr title="Definição de Pronto">Definition of Done</abbr>" (DoD) é um conceito fundamental no framework
        Scrum que estabelece os critérios que um incremento de produto deve
        atender para ser considerado completo e pronto para ser entregue ao
        cliente ou liberado em produção. A DoD é uma ferramenta essencial para
        garantir que a equipe de desenvolvimento entenda o que significa "feito"
        em um contexto específico de projeto e que todos os itens de backlog
        atendam a esses critérios antes de serem considerados concluídos.
    </p>
</div>
<div class="conteudo_interno size">
    <p class="center">
        <strong>Uma boa a DoD inclui e checa os seguintes aspectos:</strong>
    </p>
    <hr>
    <ul>
        <li>
            <strong>Funcionalidade:</strong> A funcionalidade implementada deve estar completa e funcionando conforme as
            especificações.
            <br>Por exemplo, se a equipe estiver construindo um sistema de registro de usuários, a funcionalidade estará
            pronta quando os usuários puderem se registrar, receber confirmações do registro e fazer login com sucesso.
        </li>
        <hr>
        <li>
            <strong>Testes:</strong> Todas as funcionalidades devem ser testadas e passar nos testes de qualidade
            estabelecidos para a tarefa. Isso pode incluir <em>unit tests</em>, testes de integração, aceitação do
            usuário, e outros aspectos definidos pelo time.
        </li>
        <hr>
        <li>
            <strong>Design:</strong> A tarefa deve seguir as diretrizes de design estabelecidas, como a aparência,
            usabilidade e consistência visual.
        </li>
        <hr>
        <li>
            <strong>Documentação:</strong> Qualquer documentação
            relevante, como manuais de usuário, documentação técnica ou notas de
            versão, foi atualizada para refletir as mudanças feitas no
            incremento. Isso ajuda na compreensão e na utilização adequada do
            produto.
            <!-- não sei se é necessário incluir esse. -->
        </li>
        <hr>
        <li>
            <strong>Desempenho:</strong> A tarefa deve desempenhar de forma conforme os requisitos estabelecidos. <br>
            Por exemplo, um sistema de registro de usuários deve responder de maneira rápida e eficiente sob carga.
        </li>
        <hr>
        <li>
            <strong>Revisão de código:</strong> O código-fonte deve ser revisado pela equipe e preferencialmente, ter um
            formato e utilizar convenções consistentes com outros códigos ou normas já presentes.
        </li>
    </ul>
</div>
<div class="conteudo_interno size">
    <p class="center">
        <b>Exemplos:</b>
        <hr>
    <ul>
        <li>Para uma <em>User Story</em> de um sistema de gerenciamento de tarefas, sua definição de pronto pode incluir
            critérios como: <ol>
                <li>A <em>User Story</em> foi implementada.</li>
                <li>Passou nos testes de unidade.</li>
                <li>Testes de aceitação do usuário foram realizados.</li>
                <li>A documentação foi atualizada.</li>
            </ol>
        </li>
        <hr>
        <li>
            Para uma sprint em um projeto, a DoD pode incluir os seguintes critérios:
            <ol>
                <li>Todas as <em>User Stories</em> foram realizadas.</li>
                <li>Todas as <em>User Stories</em> foram implementadas.</li>
                <li>Todas as <em>User Stories</em> foram revisadas.</li>
                <li>Todas as <em>User Stories</em> foram documentadas.</li>
            </ol>
        </li>
        <hr>
        <li>Para o lançamento de um novo site, a DoD pode incluir:
            <ol>
                <li>Todas as páginas foram criadas com base no design aprovado.</li>
                <li>Todos os links estão funcionando.</li>
                <li>O site foi testado em diferentes navegadores e dispositivos.</li>
                <li>A documentação de suporte está pronta.</li>
            </ol>
        </li>
    </ul>
    </p>
</div>
<div class="conteudo_interno size">
    <p>Somente quando todos os critérios acima são cumpridos, uma tarefa deve ser considerada finalizada, e seu valor
        incrementado ao Backlog. Caso uma tarefa não cumpra com os requisitos, portanto não sendo considerada
        finalizada, seu valor <b>não</b> deve ser incrementado ao Backlog e a mesma não deve ser apresentada ao cliente
        ou ser inclusa na Sprint Review.</p>
</div>

{% endblock %}