{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Developer Team</h1>
</div>

<div class="imagem_dev">
    <img src="{{ url_for('static', filename='img/devteam.png') }}" alt="Dev team image" />
</div>

<div class="conteudo_interno size">
    <h2 style="text-align: center; font-size: 175%; margin-bottom: 2%">
      Introdução  
    </h2>
    <p>
      O Time de Desenvolvimento é a espinha dorsal do projeto, responsável por transformar conceitos em produtos tangíveis e inovadores. Cada membro desse time desempenha um papel crucial na realização das metas e na entrega contínua de valor aos clientes.
    </p>
    <hr>
    <p>
        <strong>Responsabilidades do Time de Desenvolvimento:</strong>
      <ul>
        <li>Colaborar na definição e implementação das funcionalidades do produto;</li>
        <li>Trabalhar de forma interdisciplinar e autogerenciada para alcançar os objetivos do Sprint;</li>
        <li>Manter altos padrões de qualidade em todas as entregas ao cliente;</li>
        <li>Participar ativamente em reuniões e eventos Scrum para promover a transparência e a colaboração no time.</li>
      </ul>
    </p>
    <hr>
    <p>
      O respeito às decisões do Time de Desenvolvimento é fundamental para o sucesso do projeto. Qualquer interferência externa nas atividades e prioridades definidas pelo Time de Desenvolvimento é estritamente proibida.
    </p>
</div>


<div class="conteudo_interno apresentacao_baloes">
    <h2 style="font-size: 110%">COMO SE TORNAR UM BOM DEV TEAM:</h2>
</div>

<div class="conjunto-baloes size">
    <div class="linha">
        <div class="conteudo_interno size">
            <h2>COLABORAR EFETIVAMENTE</h2>
            <p>A troca contínua de informações e ideias é essencial para o progresso do projeto.</p>
        </div>
        <div class="conteudo_interno size">
            <h2>DIVERSIDADE DE HABILIDADES</h2>
            <p>Maior capacidade de enfrentar desafios diversos.</p>
        </div>
    </div>

    <div class="linha">
        <div class="conteudo_interno size">
            <h2>FOCO NO OBJETIVO COMUM</h2>
            <p>O alinhamento de objetivos do projeto ajuda a manter o time coeso e orientado.</p>
        </div>
        <div class="conteudo_interno size">
            <h2>ADAPTAR-SE ÁS MUDANÇAS</h2>
            <p>Um bom Dev Team é ágil e flexível, pronto para ajustar estratégias.</p>
        </div>
    </div>

    <div class="linha">
        <div class="conteudo_interno size">
            <h2>AUTONOMIA E AUTO-ORGANIZAÇÃO</h2>
            <p>Decisões mais eficazes e seja mais responsivo.</p>
        </div>
        <div class="conteudo_interno size">
            <h2>FEEDBACK CONSTRUTIVO</h2>
            <p>Uma boa equipe tem um ambiente onde o feedback é valorizado</p>
        </div>
    </div>

    <div class="conteudo_interno size">
        <h2>ALTO NÍVEL DE COMPROMETIMENTO</h2>
        <p>Estar disposto a fazer o necessário para alcançar os objetivos estabelecidos.</p>
    </div>
</div>

<hr />

<!-- Exemplos práticos -->
<h2>Guia: Papel do Time de Desenvolvimento (Dev Team)</h2>
<div class="lista-itens conteudo_interno">
    <ol>
        <h3 style="margin-right: auto">Passo 1 - Composição do Time de Desenvolvimento:</h3>
        <li><strong>Diversidade de Profissionais:</strong> O Development Team reúne uma variedade de perfis profissionais para promover criatividade.</li>
        <hr>
        <li>
            <strong>Responsabilidade na Entrega:</strong> O Time cria incrementos potencialmente entregáveis, estimando tamanhos de itens e alinhando-se com
            metas da iteração.
        </li>
    </ol>
</div>
<div class="lista-itens conteudo_interno">
    <ol>
        <h3 style="margin-right: auto">Passo 2 - Auto-Organização e Autogerenciamento:</h3>
        <li><strong>Autonomia na Transformação:</strong> O Time é auto-organizado para transformar o Product Backlog em incrementos.</li>
        <hr>
        <li><strong>Autogerenciamento:</strong> São responsáveis pelo microgerenciamento e pelo sucesso coletivo da iteração.</li>
    </ol>
</div>
<div class="lista-itens conteudo_interno">
    <ol>
        <h3 style="margin-right: auto">Passo 3 - Tamanho Adequado do Time de Desenvolvimento:</h3>
        <li><strong>Equilíbrio Necessário:</strong> O Time deve manter um equilíbrio entre agilidade e produtividade.</li>
    </ol>
</div>
<div class="lista-itens conteudo_interno">
    <ol>
        <h3 style="margin-right: auto">Passo 4 - Estágios da Auto-Organização:</h3>
        <li><strong>Formação do Time (Forming):</strong> Início da jornada, membros se conhecendo.</li>
        <hr>
        <li><strong>Fase de Aprendizado (Storming):</strong> Adaptação aos comportamentos uns dos outros.</li>
        <hr>
        <li><strong>Normalização (Norming):</strong>Definição de normas.</li>
        <hr>
        <li><strong>Desempenho Coletivo (Performing):</strong> Operação sincronizada requer tempo e paciência.</li>
    </ol>
</div>
<div class="lista-itens conteudo_interno">
    <ol>
        <h3 style="margin-right: auto">Passo 5 - Papéis do ScrumMaster e do Product Owner:</h3>
        <li><strong>ScrumMaster:</strong> Facilitador que apoia a auto-organização do Time de Desenvolvimento.</li>
        <hr>
        <li><strong>Product Owner:</strong> Responsável pelo Product Backlog e parceria estreita com o Time para atender às expectativas do cliente.</li>
    </ol>
</div>

{% endblock %}
