{% extends "layout.html" %}{% block css %}
<!-- Colocar o CSS específico da página dentro desse bloco -->
<link rel="stylesheet" href="../static/po.css">


{% endblock %}{% block content %}


<!--------------- Imagem home 1---------------->
<div class="container_fluid">
  <div class="row">
    <div style="background-color: #FEF4B1" class="col p-0"></div>

    <div class="col-10 p-0">
      <div class="img-container">
        <img
          src="../static/img/team_1.png"
          class="img-fluid"
          alt="Metodologia Ágil"
        />
        <div class="text-overlay5">
          <h1>Developer Team</h1>
          <p>O Time de Desenvolvimento é a espinha dorsal do projeto, responsável por transformar conceitos em produtos tangíveis e inovadores. Cada membro desse time desempenha um papel crucial na realização das metas e na entrega contínua de valor aos clientes.</p>
      </div>
  </div>
</div>
<div style="background-color:#FEF4B1" class="col p-0"></div>
</div>
</div>




<div class="row">
  <div class="col p-0"></div>

  <div class="col-10 p-0">
    <div  style="margin-top: 3%" class="text-overlay3 ">
  <h5>Responsabilidades do Time de Desenvolvimento:</h5>
    <ul>
      <li>Colaborar na definição e implementação das funcionalidades do produto;</li>
      <li>
        Trabalhar de forma interdisciplinar e autogerenciada para alcançar os objetivos do Sprint;
      </li>
      <li>
        Manter altos padrões de qualidade em todas as entregas ao cliente.
      </li>
      <li>
        Participar ativamente em reuniões e eventos Scrum para promover a transparência e a colaboração no time.
      </li>
    </ul>
  </div>
</div>
<div class="col p-0"></div>
</div>





<!-- 
<div class="card text-bg-dark" style="
  display: flex; width:70%; margin: 0 auto; align-items: flex-start;
  background-position: left top;
  background-origin: border-box;
  gap: 1rem;
  padding: 0.5rem;
  ">
  <img src="../static/img/po_2.png" class="card-img-overlay" style="position:absolute; width: 100%; height: 100%; z-index: 0; padding: 0;" alt="">
  <div class="container_guia_po" style="padding: 2%; z-index: 1">
    <h5 style="font-size: 3.3vh;" class="card-title">Guia: Papel do Developer Team</h5>
    <div class="mx-start p-2">
      <p style="font-size: 2.6vh;" class="card-text">
        Este guia oferece para você o passo-a-passo essencial de como funciona
        o trabalho de um membro do Developer Team.
      </p>
    </div>
  </div> -->

  <div class="row">
    <div class="col p-0"></div> 
    <div class="col-10 p-0">
   
     <div style="background-color: #24445c; color: white;" class="card w-50 mb-5 mt-5">
       <div class="card-body">
         <h5 class="card-title">Guia: Papel do Time de Desenvolvimento</h5>
         <p  class="card-text fw-light">Este guia oferece para você o passo-a-passo essencial de como funciona o trabalho de um Time de Desenvolvimento.</p>
         <button type="button" class="btn btn-primary"
       data-bs-toggle="modal" data-bs-target="#exampleModal">
       Clique aqui
     </button>
       </div>
     </div>

  <!-- Modal -->
  <div style="color: black" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="exampleModalLabel">
            Guia: Papel do Developer Team
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Passo 1 -->
        <div class="modal-body">
          <ol style="list-style: none">
            <li>
              <h5>Passo 1 - Composição do Time de Desenvolvimento:</h5>
              <p>
                <strong>Diversidade de Profissionais:</strong> O Development Team reúne uma variedade de perfis profissionais para promover criatividade. <br />
              </p>
              <p>
                <strong>Responsabilidade na entrega:</strong> O Time cria incrementos potencialmente entregáveis, estimando tamanhos de itens e alinhando-se com
                metas da iteração.
              </p>
            </li>
          </ol>
          <hr />
          <!-- Passo 2 -->
          <div>
            <ol>
              <h5>Passo 2 - Auto-Organização e Autogerenciamento:</h5>
              <p>
                <strong>Autonomia na transformação:</strong> Autonomia na Transformação:</strong> O Time é auto-organizado para transformar o Product Backlog em incrementos.
              </p>
              <p>
                <strong>Autogerenciamento:</strong> São responsáveis pelo microgerenciamento e pelo sucesso coletivo da iteração. 
              </p>
            </ol>
          </div>
          <hr />

          <!-- Passo 3 -->
          <div>
            <ol>
              <h5>Passo 3 - Tamanho adequado do Time de Desenvolvimento:</h5>
              <p>
                <strong>Equilíbrio Necessário:</strong> O Time deve manter um equilíbrio entre agilidade e produtividade.
              </p>
            </ol>
          </div>
          <hr />
          <div>
            <ol>
              <h5>Passo 4 - Estágios da auto-organização:</h5>
              <p>
                <strong>Formação do Time (Forming):</strong> Início da jornada, membros se conhecendo.
              </p>
              <p>
                <strong>Fase de Aprendizado (Storming):</strong> Adaptação aos comportamentos uns dos outros. <br />
              </p>
              <p><strong>Normalização (Norming):</strong>
                Definição de normas.
              </p>
              <p><strong>Desempenho Coletivo (Performing)</strong>Operação sincronizada requer tempo e paciência.</p>
            </ol>
          </div>
          <hr />
          <div>
            <ol>
              <h5>Passo 5 - Conhecer o Product Owner e Scrum Master:</h5>
              <p>
                <strong>Scrum Master:</strong> Facilitador que apoia a auto-organização do Time de Desenvolvimento.
              <p>
                <strong>Product Owner:</strong> Responsável pelo Product Backlog e parceria estreita com o Time para atender às expectativas do cliente.
              </p>
            </ol>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
 

</div>
<div class="col p-0"></div>
 </div>
 

















 <div class="row">
  <div  class="col p-0"></div>
  <div class="col-10 p-0">
<div class="text-overlay3">
  <h5>Quiz: Developer Team</h5>
  <form action="" id="quizForm">
  <div  class=" perguntas texto_home_1 shadow p-3 mb-5 bg-body-tertiary rounded ">
    <div class="pergunta" id="pergunta1">
      <h6>1. Qual é o papel do Product Owner (PO) em um time ágil?
      </h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta1" id="opcao1_1" value="opcao1">
        <label class="form-check-label" for="opcao1_1"> a) Definir o layout e o design da interface do usuário.</label>
      </div>
      <div class="form-check" correct>
        <input class="form-check-input" type="radio" name="resposta1" id="opcao1_2" value="opcao2">
        <label class="form-check-label" for="opcao1_2">b) Priorizar o backlog do produto e representar as necessidades
          dos stakeholders.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta1" id="opcao1_3" value="opcao3">
        <label class="form-check-label" for="opcao1_3">c) Lidar com as tarefas técnicas e a programação do
          produto.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta1" id="opcao1_4" value="opcao4">
        <label class="form-check-label" for="opcao1_4">d) Monitorar o progresso do projeto e relatar os bugs ao time de
          desenvolvimento.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta1" id="opcao1_5" value="opcao5">
        <label class="form-check-label" for="opcao1_5">e) Gerenciar exclusivamente o orçamento do projeto.</label>
      </div>
    </div>

    <div class="pergunta" id="pergunta2" style="display: none;">
      <h6>2. Qual é o papel do Product Owner (PO) durante as reuniões de planejamento de Sprint?</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta2" id="opcao2_1" value="opcao1">
        <label class="form-check-label" for="opcao2_1">a) Conduzir todas as discussões e decisões sem a participação do
          time.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta2" id="opcao2_2" value="opcao2">
        <label class="form-check-label" for="opcao2_2">b) Apenas observar as discussões do time sem contribuir.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta2" id="opcao2_3" value="opcao3">
        <label class="form-check-label" for="opcao2_3">c) Focar exclusivamente na elaboração de relatórios de
          status.</label>
      </div>
      <div class="form-check" correct>
        <input class="form-check-input" type="radio" name="resposta2" id="opcao2_4" value="opcao4">
        <label class="form-check-label" for="opcao2_4">d) Definir as metas da Sprint e esclarecer as histórias de
          usuário.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta2" id="opcao2_5" value="opcao5">
        <label class="form-check-label" for="opcao2_5">e) Nenhuma das alternativas anteriores.</label>
      </div>
    </div>

    <div class="pergunta" id="pergunta3" style="display: none;">
      <h6>3. Como o Product Owner (PO) contribui para o desenvolvimento do produto?</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta3" id="opcao3_1" value="opcao1">
        <label class="form-check-label" for="opcao3_1">a) Estabelecendo prazos rígidos para o time de
          desenvolvimento.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta3" id="opcao3_2" value="opcao2">
        <label class="form-check-label" for="opcao3_2">b) Desenvolvendo todas as funcionalidades do produto.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta3" id="opcao3_3" value="opcao3">
        <label class="form-check-label" for="opcao3_3">c) Alocando recursos e financiamento para o projeto.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta3" id="opcao3_4" value="opcao4">
        <label class="form-check-label" for="opcao3_4">d) Realizando testes de qualidade do produto final.</label>
      </div>
      <div class="form-check" correct>
        <input class="form-check-input" type="radio" name="resposta3" id="opcao3_5" value="opcao5">
        <label class="form-check-label" for="opcao3_5">e) Atuando como intermediário entre o time de desenvolvimento e
          os stakeholders.</label>
      </div>
    </div>

    <div class="pergunta" id="pergunta4" style="display: none;">
      <h6>4. Qual é a principal função do Product Owner (PO) em relação ao backlog do produto?</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta4" id="opcao4_1" value="opcao1">
        <label class="form-check-label" for="opcao4_1">a) Atualizar o backlog com todos os requisitos técnicos.</label>
      </div>
      <div class="form-check" correct>
        <input class="form-check-input" type="radio" name="resposta4" id="opcao4_2" value="opcao2">
        <label class="form-check-label" for="opcao4_2">b) Priorizar o backlog com base no valor do negócio e nas
          necessidades dos stakeholders.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta4" id="opcao4_3" value="opcao3">
        <label class="form-check-label" for="opcao4_3">c) Garantir que o backlog contenha apenas itens de baixa
          prioridade.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta4" id="opcao4_4" value="opcao4">
        <label class="form-check-label" for="opcao4_4">d) Documentar somente as histórias de usuário sem detalhar as
          tarefas.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta4" id="opcao4_5" value="opcao5">
        <label class="form-check-label" for="opcao4_5">e)Delegar a responsabilidade do backlog para o time de
          desenvolvimento.</label>
      </div>
    </div>

    <div class="pergunta" id="pergunta5" style="display: none;">
      <h6>5. Quem é responsável por atualizar e priorizar continuamente o backlog do produto?</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta5" id="opcao5_1" value="opcao1">
        <label class="form-check-label" for="opcao5_1">a) Apenas o Product Owner.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta5" id="opcao5_2" value="opcao2">
        <label class="form-check-label" for="opcao5_2">b) O Scrum Master.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta5" id="opcao5_3" value="opcao3">
        <label class="form-check-label" for="opcao5_3">c) Somente o time de desenvolvimento.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="resposta5" id="opcao5_4" value="opcao4">
        <label class="form-check-label" for="opcao5_4">d) Todos os stakeholders.</label>
      </div>
      <div class="form-check" correct>
        <input class="form-check-input" type="radio" name="resposta5" id="opcao5_5" value="opcao5">
        <label class="form-check-label" for="opcao5_5">e) O Product Owner em colaboração com o time de desenvolvimento e
          stakeholders.</label>
      </div>
    </div>
    <!-- Adicionar mais perguntas seguindo o modelo acima -->

    <div class="d-flex justify-content-between align-items-center">
      <button type="submit" id="bverificar" class="btn btn-sm btn-outline-primary mt-2 ">Verificar</button>
      <div class="ml-auto">
        <button type="button" id="banterior" class="btn btn-sm btn-outline-dark mt-2 " onclick="mudarPergunta(-1)"
          style="display: none;">Anterior</button>
        <button type="button" id="bproximo" class="btn btn-sm btn-outline-dark  mt-2 "
          onclick="mudarPergunta(1)">Próxima</button>
        </div>
      </div>
  
      </form>
    </div>
  </div>
  </div>
  <div  class="col p-0"></div>
  </div>
  <script src="../static/quiz.js"></script>




<!--------------- Imagem home 1---------------->
<div class="container_fluid">
  <div class="row">
    <div style="background-color: #FEF4B1" class="col p-0" ></div>

    <div class="col-10 p-0" style="background-color: #FEF4B1;"> 
      
        <div class="text-overlay6 mb-5 mt-5">
  <h5>Como se tornar um bom Desenvolvedor:</h5>
        </div>
        <div class="flex_texto">
          <div class=" text-overlay6_1">
    <h6>Colaborar efetivamente</h6>
    <p>
      A troca contínua de informações e ideias é essencial para o progresso do projeto.
    </p>

    <h6>Diversidade de habilidades</h6>
    <p>
      Maior capacidade de enfrentar desafios diversos.
    </p>

    <h6>Foco no objetivo comum</h6>
    <p>
      O alinhamento de objetivos do projeto ajuda a manter o time coeso e orientado.
    </p>
          </div>

    <div class="text-overlay6_1_2"> 
    <h6>Adaptar-se às mudanças</h6>
    <p>
      Um bom Dev Team é ágil e flexível, pronto para ajustar estratégias.
    </p>
        
    <h6>Autonomia e auto-organização</h6>
    <p>
      Decisões mais eficazes e seja mais responsivo.
    </p>

    <h6>Feedback construtivo</h6>
    <p>
      Uma boa equipe tem um ambiente onde o feedback é valorizado.
    </p>
    </div>
    </div>
        </div>

<div style="background-color: #FEF4B1" class="col p-0"></div>
</div>
</div>
{% endblock %}