{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Glossário</h1>
</div>

<div class="conteudo_interno size">
    <h2 style="text-align: center;">Traduções</h2>
    <div>
        <em><b>Scrum Master</b></em> - Mestre do Scrum<br>
        <em><b>Product Owner</b></em> - Dono/Gerente de Produto<br>
        <em><b>Developer Team</b></em> - Time de Desenvolvedores<br>
        <em><b>Framework</b></em> - Esquema, estrutura<br>
        <em><b>Daily/Dailies</b></em> - Diário/Diárias<br>
        <em><b>Planning</b></em> - Planejamento<br>
        <em><b>Meeting</b></em> - Encontro, reunião<br>
        <em><b>User Stories</b></em> - História de Usuário<br>
        <em><b>Review</b></em> - Revisão<br>
        <em><b>Feedback</b></em> - Opinião<br>
        <em><b>Retrospective</b></em> - Retrospectiva<br>
        <em><b>Stakeholders</b></em> - Partes interessadas, clientes interessados <br>
        <em><b>Epic</b></em> - Épico <br>
        <em><b>Definition of Ready</b></em> - Definição de Preparado <br>
        <em><b>Definition of Done</b></em> - Definição de Pronto <br>
        <em><b>Work in Progress</b></em> - Trabalho em Progresso <br>
    </div>
    <h2 style="text-align: center;">Termos técnicos</h2>
    <div>
        <em><b>Bug</b></em> - Erro, falha ou defeito em algum componente envolvendo código-fonte. <br>
        <em><b>Código-fonte</b></em> - Instruções em uma linguagem de programação para execução de um programa ou aplicação. <br>
        <em><b><abbr title="Incremento">Increment</abbr></b></em> - Conceito utilizado na metodologia Scrum para quantificar o progresso que uma certa tarefa adiciona ao produto final. <br>
        <em><b><abbr title="Mínimo Produto Viável">Minimum Viable Product</abbr></b></em> - (tradução: Mínimo Produto Viável). Conceito utilizado na metodologia Scrum para quantificar o estado mínimo para um produto ser considerável viável para entrega, normalmente dependente de tarefas críticas. <br>
        <em><b><abbr title="Ponto de História">Story Point</abbr></b></em> - Pontuação usada para descrever a dificuldade/esforço necessário para compleção de uma tarefa, utilizada internamente na formação do Product Backlog. <br>
        <em><b><abbr title="(HyperText Markup Language)">HTML</abbr></b></em> - Linguagem de marcação de arquivos de páginas da Web. <br>
        <em><b><abbr title="Cascading Style Sheets">CSS</abbr></b></em> - Linguagem para descrição da apresentação de um documento escrito em HTML ou em XML. <br>
        <em><b>Jira</b></em> - Plataforma de gerenciamento de projetos.
    </div>
</div>

<div class="conteudo_interno size">
    <h2 style="text-align: center;">Referências</h2>
</div>

<div class="conteudo_interno size">
    <p>
        Livro: Um guia definitivo para o Scrum: As regras do jogo
Autores: Ken Schwaber e Jeff Sutherland, Julho de 2013
        
        Livro: Scrum-Guia de Referência
ADAPTWORKS TREINAMENTOS - todos os direitos reservados
Editora: AdaptWorks Al. Lorena, 638 • 4º andar, São Paulo, SP



    </p>
</div>

{% endblock %}