{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>História</h1>
</div>

<div class="conteudo_interno">
    <p style="font-size: 150%">
        O Scrum é um framework de gerenciamento de projetos que teve origem no
        desenvolvimento de software nos anos 1980. Inicialmente descrito por
        Hirotaka Takeuchi e Ikujiro Nonaka em 1986, enfatiza a colaboração,
        auto-organização e adaptabilidade, usando a metáfora do rugby. Jeff
        Sutherland e Ken Schwaber formalizaram o Scrum nos anos 1990, publicando
        o "Scrum Guide" em 2010. Nos anos 2000, ganhou popularidade na indústria
        de software e foi reconhecido internacionalmente por organizações como o
        PMI e a Agile Alliance. Continua a evoluir, sendo utilizado em diversas
        áreas e é conhecido por sua flexibilidade e ênfase na entrega iterativa
        e incremental de valor ao cliente.
    </p>
</div>

<div class="imagem_1">
    <img
        src="{{ url_for('static', filename='img/history-of-scrum2-1.png') }}"
        alt="história scrum"
    />
</div>

{% endblock %}
