<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/style.css" /><link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="histria">
      <div class="div">
        <div class="contedos-historia">
          <div class="text-wrapper">História</div>
          <div class="content-variant">
            <div class="overlap-group">
              <p class="o-scrum-um-framework">
                O Scrum é um framework de gerenciamento de projetos que teve origem no desenvolvimento de software nos
                anos 1980. Inicialmente descrito por Hirotaka Takeuchi e Ikujiro Nonaka em 1986, enfatiza a colaboração,
                auto-organização e adaptabilidade, usando a metáfora do rugby. Jeff Sutherland e Ken Schwaber
                formalizaram o Scrum nos anos 1990, publicando o &#34;Scrum Guide&#34; em 2010. Nos anos 2000, ganhou
                popularidade na indústria de software e foi reconhecido internacionalmente por organizações como o PMI e
                a Agile Alliance. Continua a evoluir, sendo utilizado em diversas áreas e é conhecido por sua
                flexibilidade e ênfase na entrega iterativa e incremental de valor ao cliente.
              </p>
            </div>
          </div>
          <img class="history-of" src="../static/img/history-of-scrum2-1.png" />
        </div>
        <div class="side-menu">
          <div class="text-wrapper-2">Agile Learn</div>
          <div class="div-wrapper"><div class="text">Introdução</div></div>
          <div class="div-wrapper"><div class="text">História</div></div>
          <div class="div-wrapper"><div class="text">Sprint</div></div>
          <div class="div-wrapper"><div class="text">Eventos Scrum</div></div>
          <div class="div-wrapper"><div class="text-2">Características do Scrum</div></div>
          <div class="dropdown-topic">
            <div class="text-wrapper-3">Papéis do Scrum</div>
            <img class="arrow-logo" src="../static/img/arrow logo.svg" />
          </div>
          <div class="dropdown-topic">
            <div class="text-wrapper-3">Artefatos do Scrum</div>
            <img class="arrow-logo" src="../static/img/arrow logo.svg" />
          </div>
          <div class="div-wrapper"><div class="text">Avaliador</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
