{% extends "layout.html" %} {% block style %}
<link rel="stylesheet" href="../static/intro.css" />
{% endblock %} {% block content %}

<div class="título_principal">
  <h1>Introdução</h1>
</div>

<div class="descrição_1" >
  <h2>O QUE É SCRUM?</h2>
      <p style="font-size: 150%;"> Metodologia ágil que usa sprints para flexibilidade e eficiência no desenvolvimento de produtos. 
      </p>
</div>

<div class="descrição_2" >
  <h2>VANTAGENS DO SCRUM</h2>
    <ul style="font-size: 150%;">
      <li>Iterativo e Incremental</li>
      <li>Transparência</li>
      <li>Inspeção e Adaptação</li>
      <li>Papéis Definidos</li>
      <li>Colaboração intensa</li>
    </ul>
</div>
    








{% endblock %}


<!--
<div class="contedos-introduo">
  <div class="overlap-group">
    <p class="o-QUE-SCRUM">
      <span class="text-wrapper">O QUE É SCRUM?<br /></span>
      <span class="span"
        >Metodologia ágil que usa sprints para flexibilidade e eficiência no
        desenvolvimento de produtos.</span
      >
    </p>
  </div>
  <div class="overlap">
    <p class="title">
      <span class="text-wrapper">VANTAGENS DO SCRUM<br /></span>
      <span class="span"
        >Iterativo e Incremental<br />Transparência<br />Inspeção e Adaptação<br />Papéis
        Definidos:<br />Colaboração Intensa</span
      >
    </p>
  </div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
  <div class="div intro">Introdução</div>
</div>
-- <!