{% extends "layout.html" %}{% block content %}

<h1>Introdução</h1>

<div class="conteudo_interno size">
    <h2>O QUE É SCRUM?</h2>
    <p>Metodologia ágil que usa sprints para flexibilidade e eficiência no desenvolvimento de produtos.Ela se baseia em princípios de transparência, inspeção e adaptação para promover a flexibilidade e eficiência durante o processo de desenvolvimento.

        No Scrum, o trabalho é dividido em iterações chamadas "sprints", que geralmente têm uma duração fixa de duas a quatro semanas. 
            
        </p>
</div>

<div class="conteudo_interno size">
    <h2>VANTAGENS DO SCRUM</h2>
    <ul>
        <li>Iterativo e Incremental</li>
        <li>Transparência</li>
        <li>Inspeção e Adaptação</li>
        <li>Papéis Definidos</li>
        <li>Colaboração intensa</li>
    </ul>
</div>

{% endblock %}
