{% extends "layout.html" %} {% block style %}
<link rel="stylesheet" href="../static/intro.css" />
{% endblock %} {% block content %}
<div class="contedos-introduo">
  <div class="overlap-group">
    <p class="o-QUE-SCRUM">
      <span class="text-wrapper">O QUE É SCRUM?<br /></span>
      <span class="span"
        >Metodologia ágil que usa sprints para flexibilidade e eficiência no
        desenvolvimento de produtos.</span
      >
    </p>
  </div>
  <div class="overlap">
    <p class="VANTAGENS-DO-SCRUM">
      <span class="text-wrapper">VANTAGENS DO SCRUM<br /></span>
      <span class="span"
        >Iterativo e Incremental<br />Transparência<br />Inspeção e Adaptação<br />Papéis
        Definidos:<br />Colaboração Intensa</span
      >
    </p>
  </div>
  <div class="div">Introdução</div>
</div>
{% endblock %}
