{% extends "layout.html" %}{% block css %}
<link rel="stylesheet" href="../static/po.css">
{% endblock %}
{% block content %} 

<div class="container_img">
  <div class="img-container">
    <img src="../static/img/kanban_1.png" class="img-fluid" alt="Kanban" />
    <div class="text-overlay">
      <h1 style="color: white;" >Kanban</h1>
      <p style="color: white;" >Metodologia visual de gestão de projetos e processos,
        oferece uma abordagem flexível e altamente eficaz para otimizar o fluxo
        de trabalho. Nesta página, exploraremos dicas práticas para uma
        implementação bem-sucedida do Kanban em sua equipe ou organização.</p>
    </div>
  </div>
</div>

<div class="txt4" style="margin-top: 2%">
  <h5>Funcionalidade do Kanban:</h5>
  <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded texto_home_1">
     <p>
      O Kanban é parte essencial de uma boa gestão de projetos, com uma abordagem simples, eficiente e direta para 
      a administração de demandas. Considerado evolucionário, o método propõe um olhar mais ativo e construtivo para 
      a resolução de tarefas.
    </p>
        
   
  </div>
</div>


<div class="card text-bg-dark" style="
  display: flex; width:70%; margin: 0 auto; align-items: flex-start;
  background-position: left top;
  background-origin: border-box;
  gap: 1rem;
  padding: 0.5rem;
  ">
  <img src="../static/img/po_2.png" class="card-img-overlay"
    style="position:absolute; width: 100%; height: 100%; z-index: 0; padding: 0;" alt="">
  <div class="container_guia_po" style="padding: 2%; z-index: 1">
    <h5 class="card-title" style="font-size: 3.3vh;">Guia: Aplicando o Kanban</h5>
    <div class="mx-start p-2">
      <p class="card-text" style="font-size: 2.6vh;">
        Este guia oferece para você o passo-a-passo essencial de como funciona
        o artefato Kanban.
      </p>
    </div>
  </div>

  <!-- Modal -->
  <div style="color: black" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="exampleModalLabel">
            Guia: Aplicando o Kanban
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Passo 1 -->
        <div class="modal-body">
          <ol style="list-style: none">
            <li>
            
              <p>
                <strong> Entenda seu processo atual:</strong> Antes de começar a usar o Kanban, é fundamental entender
            completamente o seu processo atual. Isso inclui a
            identificação de todas as etapas do processo, os recursos envolvidos e como as tarefas ou itens fluem de uma
            etapa para outra.
              </p>
              <p>
                <strong>Identifique o quadro Kanban:</strong> O quadro Kanban é o ponto central da metodologia. Pode ser um
            quadro físico na parede ou uma ferramenta digital, como um software de gerenciamento de projetos. O quadro pode
             ser dividido em três colunas: "A fazer", "Em andamento" e "Concluído", 
        </li>
              </p>
              <p>
                <strong>Defina os itens de trabalho(cartões):</strong> Cada item de trabalho que precisa ser realizado é
            representado por um cartão. Os cartões podem ser físicos (por exemplo, post-its) ou digitais. Cada cartão
            deve conter informações sobre a tarefa, como uma descrição e informações de prioridade.
              </p>
              <p><strong>Limite o Trabalho em andamento:</strong> Um dos princípios fundamentais do Kanban é limitar a
                quantidade de trabalho em andamento em cada coluna do quadro. Isso ajuda a evitar a sobrecarga de trabalho e
                a manter um fluxo constante. Determine um limite máximo de cartões que podem estar na coluna "Em andamento"
                de acordo com a capacidade da equipe.</p>
                <p><strong>Visualise o fluxo de trabalho:</strong> Os cartões a medida que vão sendo iniciados ou até mesmo
                  concluidos irão ser movidos pelas colunas do quadro kanban assim você terá uma representação visual do fluxo
                  de trabalho. Isso ajuda a identificar gargalos e a entender como o trabalho está progredindo.</p>
                  <p><strong>Faça reuniões de revisão:</strong> Realize reuniões periódicas de revisão do Kanban para discutir o
                    progresso, identificar problemas e fazer ajustes no processo, se necessário. As reuniões de revisão
                    geralmente são realizadas diariamente ou semanalmente, dependendo do contexto.</p>
            </li>
          </ol>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
  <button style="z-index: 1; margin-left: 1rem; margin-bottom: 0.5rem;" type="button" class="btn btn-primary"
    data-bs-toggle="modal" data-bs-target="#exampleModal">
    Clique aqui
  </button>
</div>
</div>

<div class="txt4" style="margin-top: 2%">
  <h5>Dicas para um bom Kanban:</h5>
  <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded texto_home_1">
    <ul>
      <li><strong>Comece com o Básico:</strong> Ao iniciar, mantenha o quadro
        Kanban simples. Comece com colunas representando estágios-chave do
        seu processo.</li>
      <li>
        <strong> Visualize Todo o Trabalho: </strong> Tarefas, prioridades e
        progresso devem ser claramente visíveis em cartões individuais.
      </li>
      <li><strong> Estabeleça Limites de Trabalho em Progresso (WIP): </strong
        > Defina limites realistas para cada estágio, evitando sobrecarga e
        mantendo um fluxo constante.</li>
        <li><strong> Fomente a Comunicação e Colaboração:</strong> Use o quadro
            como uma ferramenta de comunicação visual. Encoraje a equipe a
            discutir o progresso e desafios.</li>
            <li> <strong> Analise e Adapte Continuamente: </strong> Regularmente,
                reveja o quadro Kanban para identificar melhorias e ajustes
                necessários.</li>
    </ul>
</div>
</div>

{% endblock %}