{% extends "layout.html" %} {% block style %}
<link rel="stylesheet" href="../static/kanban.css" />
{% endblock %} {% block content %}

<div class="título_principal">
    <h1>Kanban</h1>
</div>

<div class="descrição_1">
    <h2></h2>
    <p style="font-size: 150%;"> O Kanban, uma metodologia visual de gestão de projetos e processos, oferece uma
        abordagem flexível e altamente eficaz para otimizar o fluxo de trabalho. Nesta página, exploraremos dicas
        práticas para uma implementação bem-sucedida do Kanban em sua equipe ou organização
    </p>
    <p style="font-size:150%"><strong>Dicas para um bom Kanban</strong></p>

    <ul style="font-size: 150%;">
        <li><strong>Comece com o Básico:</strong>Ao iniciar, mantenha o quadro Kanban simples. Comece com colunas representando estágios-chave do seu processo.</li>
    </ul>
    <ul style="font-size: 150%;">
        <li><strong> Visualize Todo o Trabalho: </strong>Tarefas, prioridades e progresso devem ser claramente visíveis em cartões individuais.</li>
    </ul>
    <ul style="font-size: 150%;">
        <li><strong> Estabeleça Limites de Trabalho em Progresso (WIP): </strong>Defina limites realistas para cada estágio, evitando sobrecarga e mantendo um fluxo constante. </li>
    </ul>
    <ul style="font-size: 150%;">
        <li><strong> Fomente a Comunicação e Colaboração:</strong>Use o quadro como uma ferramenta de comunicação visual. Encoraje a equipe a discutir o progresso e desafios. </li>
    </ul>
    <ul style="font-size: 150%;">
        <li><strong> Analise e Adapte Continuamente: </strong>Regularmente, reveja o quadro Kanban para identificar melhorias e ajustes necessários. </li>
    </ul>
</div>


{% endblock %}