<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../static/mainstyle.css" />
    <link rel="stylesheet" href="../static/styleguide.css" />
    {% block style %} {% endblock %}
  </head>
  <body>
    <div class="layout">
      <div class="div">
        <div class="side-menu">
          <div class="text-wrapper">Agile Learn</div>
          <div class="div-wrapper"><div class="text"><a href="intro">Introdução</a></div></div>
          <div class="div-wrapper"><div class="text"><a href="historia">História</a></div></div>
          <div class="div-wrapper"><div class="text"><a href="sprint">Sprint</a></div></div>
          <div class="div-wrapper"><div class="text"><a href="eventos">Eventos Scrum</a></div></div>
          <div class="div-wrapper"><div class="text-2"><a href="caracteristicas">Características do Scrum</a></div></div>
          <div class="dropdown-topic div-wrapper">
            <div class="text-wrapper-2">Papéis do Scrum</div>
            <img class="arrow-logo" src="../static/img/arrow logo.svg" />
          </div>
          <div class="dropdown-topic div-wrapper">
            <div class="text-wrapper-2">Artefatos do Scrum</div>
            <img class="arrow-logo" src="../static/img/arrow logo.svg" />
          </div>
          <div class="div-wrapper"><div class="text">Avaliador</div></div>
        </div>
        <div class="container">
          <div class="conteudo">
            {% block content %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
