<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/mainstyle.css" />
        <link rel="stylesheet" href="../static/styles.css" />
        
    
    </head>

    <body>
        <div class="side-menu-container">
            <div class="side-menu">
                <h1>Agile Learn</h1>
                <a href="intro">Introdução</a>
                <a href="historia">História</a>
                <a href="sprint">Sprint</a>
                <a href="eventos">Eventos Scrum</a>
                <a href="caracteristicas">Características do Scrum</a>

                <div class="dropdown-topic">
                    <input type="checkbox" class="topic-checkbox" id="papeis-checkbox">
                    <label for="papeis-checkbox" class="dropdown-title">
                        Papéis do Scrum
                        <img 
                            class="arrow-logo"
                            src="../static/img/arrow_logo.svg"
                        />
                    </label>
                    <div class="subtopicos">
                        <a href="productowner">Product Owner</a>
                        <a href="scrummaster">Scrum Master</a>
                        <a href="devteam">Developer Team</a>
                    </div>
                </div>

                <div class="dropdown-topic">
                    <input type="checkbox" class="topic-checkbox" id="artefatos-checkbox">
                    <label for="artefatos-checkbox" class="dropdown-title">
                        Artefatos do Scrum
                        <img 
                            class="arrow-logo"
                            src="../static/img/arrow_logo.svg"
                        />
                    </label>
                    <div class="subtopicos">
                        <a href="productbacklog">Product Backlog</a>
                        <a href="sprintback">Sprint Backlog</a>
                        <a href="burndown">Burndown Chart</a>
                        <a href="definitionofready">Definition of Ready</a>
                        <a href="definitionofdone">Definition of Done</a>
                        <a href="kanban">Kanban</a>
                    </div>
                </div>
                <!--<div class="dropdown-topic">
                    <input type="checkbox" class="topic-checkbox" id="aplicacao-checkbox">
                    <label for="aplicacao-checkbox" class="dropdown-title">
                        Aplicando o Scrum
                        <img 
                            class="arrow-logo"
                            src="../static/img/arrow_logo.svg"
                        />
                    </label>
                    <div class="subtopicos">
                        <a href="productbacklog">Formação da equipe</a>
                        <a href="sprintback">Utilizando o backlog</a>
                        <a href="burndown">Planejando e executando</a>
                        <a href="definitionofready">Revisões</a>
                        <a href="definitionofdone">Definition of Done</a>
                        <a href="kanban">Kanban</a>
                    </div>
                </div>-->
            

                <a href="avaliador">Avaliador</a>
            </div>
        </div>
        <div class="conteudo-container">
            <div class="conteudo">{% block content %} {% endblock %}</div>
        </div>
    </body>
</html>
