{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Planning Poker</h1>
</div>

<div class="conteudo_interno size">
    <p>
        O Planning Poker é uma técnica amplamente utilizada na metodologia ágil, especialmente no contexto de desenvolvimento de software, para estimar o
        esforço necessário para implementar as User Stories, usando "Story Points" como unidade de medida relativa. Esta abordagem ajuda a equipe a estimar o
        trabalho de forma colaborativa, considerando diferentes perspectivas e evitando a influência individual.
    </p>
    <p>
        O Planning Poker funciona porque incorpora a opinião de diversos especialistas da equipe, promovendo discussões que levam a estimativas mais precisas. A
        utilização da sequência de Fibonacci ajuda a refletir a incerteza associada ao tamanho das histórias, criando intervalos que facilitam o planejamento.
    </p>
</div>

<div class="imagem_dev">
    <img src="{{ url_for('static', filename='img/planningpoker.png') }}" alt="Planning Poker" />
</div>

<div class="conteudo_interno size">
    <h2>Como conduzir uma sessão de Planning Poker</h2>
    <div class="lista-itens">
        <ol>
            <h3 style="margin-right: auto">Passo 1: Preparação</h3>
            <li>Reúna os membros da equipe envolvidos no projeto, incluindo o Product Owner, Scrum Master e o Development Team.</li>
            <li>
                Certifique-se de que a equipe tenha um baralho de cartas do Planning Poker contendo valores como 0, 1, 2, 3, 5, 8, 13, 20, 40 e 100 (com base na
                sequência de Fibonacci).
            </li>
        </ol>
        <ol>
            <h3 style="margin-right: auto">Passo 2: Descrição da User Story</h3>
            <li>O Product Owner apresenta a User Story que precisa ser estimada.</li>
            <li>
                A equipe tem a oportunidade de fazer perguntas e esclarecer qualquer dúvida sobre a história para garantir que todos compreendam os requisitos.
            </li>
        </ol>
        <ol>
            <h3 style="margin-right: auto">Passo 3: Votação</h3>
            <li>
                Cada membro da equipe escolhe uma carta que representa sua estimativa para a User Story, com base no número de Story Points que eles acreditam
                que ela vale. Os membros fazem isso secretamente, mantendo suas escolhas ocultas dos outros.
            </li>
        </ol>
        <ol>
            <h3 style="margin-right: auto">Passo 4: Revelação</h3>
            <li>
                Quando todos os membros da equipe tiverem feito suas estimativas, eles revelam suas cartas simultaneamente. Isso garante que nenhuma influência
                externa afete as estimativas individuais.
            </li>
            <li>É comum que as estimativas sejam diferentes, o que é perfeitamente normal.</li>
        </ol>
        <ol>
            <h3 style="margin-right: auto">Passo 5: Discussão</h3>
            <li>
                Os membros com as estimativas mais altas e mais baixas explicam por que escolheram esses valores. Essa discussão permite que a equipe compreenda
                as perspectivas de todos e ajuda a chegar a um consenso.
            </li>
            <li>A equipe tem a oportunidade de debater e esclarecer qualquer desacordo em relação às estimativas.</li>
            <li>Após a discussão, todos os membros da equipe fazem outra rodada de votação, usando as cartas novamente.</li>
        </ol>
        <ol>
            <h3 style="margin-right: auto">Passo 6: Consenso</h3>
            <li>Repita o processo de revelação e discussão até que a equipe alcance um consenso sobre o número de Story Points atribuídos à User Story.</li>
            <li>Isso pode levar algumas rodadas, mas o objetivo é chegar a um acordo que reflita a compreensão coletiva do esforço necessário</li>
        </ol>
        <ol>
            <h3 style="margin-right: auto">Passo 7: Registro</h3>
            <li>Anote a estimativa final acordada para a User Story.</li>
            <li>Esse número de Story Points será usado para planejar sprints futuros e alocar recursos de acordo.</li>
        </ol>
    </div>
</div>

{% endblock %}
