
    {% extends "layout.html" %}
    
    {% block style %}
    <link rel="stylesheet" href="po.css" />
    {% endblock %}
  
    <div class="contedos">
      <div class="content-variant">
        <div class="text-wrapper">Product Owner</div>
        <p class="div">
          Responsável por representar os interesses dos stakeholders (clientes, usuários, patrocinadores, etc.) e
          definir as necessidades e prioridades do produto.
        </p>
        <img class="image" src="img/image-8.png" />
      </div>
      <div class="frame"><p class="p">COMO SE TORNAR UM BOM PRODUCT OWNER:</p></div>
      <div class="frame-2">
        <div class="overlap-group-wrapper">
          <div class="overlap-group">
            <div class="text-wrapper-2">VISÃO DE PRODUTO</div>
            <p class="mantenha-uma-vis-o">
              Mantenha uma visão clara do produto&nbsp;&nbsp;e alinhe as atividades da equipe com essa visão.
            </p>
          </div>
        </div>
        <div class="frame-3">
          <div class="text-wrapper-3">CONHECIMENTO TÉCNICO</div>
          <p class="text-wrapper-4">
            Entendimento básico das tecnologias e processos envolvidos no desenvolvimento de software.
          </p>
        </div>
      </div>
      <div class="frame-4">
        <div class="frame-5">
          <div class="text-wrapper-5">PRIORIZAÇÃO EFICAZ</div>
          <p class="text-wrapper-6">
            Priorizar o backlog de produtos com base no valor para o cliente e nos objetivos do negócio.
          </p>
        </div>
        <div class="frame-6">
          <div class="text-wrapper-7">COMPREENSÃO DE NEGÓCIO</div>
          <p class="text-wrapper-8">Para tomar decisões informadas sobre o produto.</p>
        </div>
      </div>
      <div class="frame-7">
        <div class="div-wrapper">
          <div class="overlap-group-2">
            <div class="text-wrapper-9">SUCESSO DO PRODUTO</div>
            <p class="text-wrapper-10">
              Assuma a responsabilidade e esteja disposto a tomar medidas para garantir seu crescimento e relevância.
            </p>
          </div>
        </div>
        <div class="frame-8">
          <div class="text-wrapper-11">FEEDBACK DO MERCADO</div>
          <p class="text-wrapper-12">
            Esteja atento ao feedback do mercado e às tendências do setor para ajustar a estratégia.
          </p>
        </div>
      </div>
      <div class="frame-wrapper">
        <div class="frame-9">
          <div class="text-wrapper-13">FOCO NO VALOR</div>
          <p class="text-wrapper-14">
            Certifique-se de que cada incremento do produto entregue valor tangível aos usuários e clientes.
          </p>
        </div>
      </div>
    </div>
 
