{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Product Backlog</h1>
</div>

<div class="conteudo_interno size">
    <p style="font-size: 150%">
        O Product Backlog é uma lista de requisitos do cliente mantida pelo
        Product Owner. Pode ser alterada a qualquer momento. Durante o Sprint
        Planning, a equipe escolhe itens do topo do backlog para trabalhar na
        sprint, priorizando e planejando sua execução.
    </p>
    <p></p>
    <p></p>
    <ul style="font-size: 150%">
        <li>
            <strong>Identificação de Itens do Backlog:</strong> Coleta de ideias,
            requisitos e demandas do produto de várias fontes, incluindo
            stakeholders, usuários, equipes de desenvolvimento e feedbacks.
        </li>
<hr>
        <li>
            <strong>Priorização:</strong> Priorize os itens do Product Backlog
            com base em importância e valor, utilizando técnicas como a matriz
            de valor x esforço para guiar as decisões.
        </li>
<hr>
        <li>
            <strong>Detalhamento e Refinamento:</strong> A medida que os itens
            sobem na lista de prioridades, detalhe e refine-os. Isso inclui
            dividir tarefas maiores em mais simples e garantir clareza na equipe
            sobre o que deve ser feito.
        </li>
<hr>
        <li>
            <strong>Estimativa:</strong> Priorize e detalhe os itens do backlog.
            Atribua estimativas de esforço para entender o trabalho envolvido.
        </li>
<hr>
        <li>
            <strong>Manutenção Contínua:</strong> O Product Backlog é uma lista
            dinâmica, sujeita a revisões e atualizações constantes conforme
            novas informações surgem e as prioridades mudam.
        </li>
<hr>
        <li>
            <strong> Comunicação e Colaboração:</strong> Comunique-se
            regularmente para manter o Product Backlog alinhado com as
            necessidades do produto, incluindo reuniões de refinamento.
        </li>
    </ul>
</div>
<div class="imagem_backlog">
    <img
        src="{{ url_for('static', filename='img/productbacklog.png') }}"
        alt="Product Backlog imagem"
    />
</div>

<!-- Passo 2 - Criando um Backlog -->
<div class="lista-itens conteudo_interno">
    <ol>
        <h3> Criando um Backlog:</h3>
        
        <hr>
        <div class="botao_principal">
    
        </div>
            <h3>Crie uma tabela com os seguintes itens:</h3>
        <li><strong>Epic:</strong> Aqui será onde você irá definir um objetivo principal da Sprint (MVP).</li>
        <hr>
        <li><strong>User Story:</strong> Liste todas as funcionalidades que você deseja para o seu site e organize as User Stories por ordem de importância.
            <br><strong>Exemplo:</strong> Como um usuário, eu quero poder criar uma nova tarefa para que eu possa organizar meu trabalho diário de forma eficaz.</li>
            <hr>
        <li><strong>Sprint:</strong> Coloque o número da sprint relacionada.</li>
        <a href="sprint"><button class="botao">MAIS INFORMAÇÕES</button></a>
        <hr>
        <li><strong>Prioridade:</strong> Ultilize o Planning Poker para definir o Story Point de cada tarefa do Backlog. Depois de ter definido os Story Points, numere todas as prioridades de cada tarefa utilizando números de 0 a 100 com base nos Story Points.
            <a href="planningpoker"><button class="botao">MAIS INFORMAÇÕES</button></a>
            <br><strong>Lembre-se:</strong> Utilize números de 0 a 100 em ordem decrescente de 5 em 5.
            <br>
            <strong style="font-size: 25px;" >Exemplos:</strong>
        </li>        
            <ul>
                <li><strong>Tarefa 1:</strong> Corrigir bug crítico no sistema <br>( Story Point: 10 e Prioridade: 100).</li>
                <li><strong>Tarefa 2:</strong> Implementar nova funcionalidade solicitada pelo cliente ( Story Point: 7 e Prioridade: 95).</li>
                <li><strong>Tarefa 3:</strong> Melhorar a interface do usuário para aumentar a usabilidade ( Story Point: 5 e Prioridade: 90).</li>
            </ul>
      <hr>
        <li><strong>Ferramentas:</strong> Coloque as ferramentas utilizadas que serão usadas para realizar uma tarefa específica.
            <br><strong>Exemplo:</strong> Utilizar o Jira para criar um quadro Kanban, movendo as tarefas concluídas para a coluna "Concluído" e mantendo as tarefas em andamento na coluna "Em Progresso".</li>  
    </ol>
    <!-- tabela exemplo backlog -->
    <strong style="font-size: 25px;text-align: center;">Exemplo Tabela Backlog</strong>
<div class="tabela_backlog">
    <div class="linha_backlog">
        <div class="coluna_backlog">MVP</div>
        <div class="coluna_backlog">UserStory</div>
        <div class="coluna_backlog">Sprint</div>
        <div class="coluna_backlog">StoryPoint</div>
        <div class="coluna_backlog">Prioridade</div>
        <div class="coluna_backlog">Ferramentas</div>
    </div>
    <div class="linha_backlog">
        <div class="coluna_backlog">Protótipo do site</div>
        <div class="coluna_backlog">Como um usuário, eu quero...</div>
        <div class="coluna_backlog">1</div>
        <div class="coluna_backlog">8</div>
        <div class="coluna_backlog">100</div>
        <div class="coluna_backlog">HTML/CSS</div>
    </div>
</div>
</div>


{% endblock %}
