{% extends "layout.html" %} {% block style %}
<link rel="stylesheet" href="../static/papeis.css" />
{% endblock %} {% block content %}

<div class="título_principal">
  <h1>Scrum Master</h1>
</div>

<div class="descrição_1" >
      <p style="font-size: 170%;">Remove obstáculos e garante a aplicação correta do Scrum para atingir metas da sprint. É um "líder-servo".</p>
</div>

<div class="imagem_1">
    <img src="{{ url_for('static', filename='img/scrummaster.png') }}" 
      alt="Scrum Master image">
  </div>

<div class="descrição_4" >
    <P style="font-size: 150%;"><strong>COMO SE TORNAR UM BOM SCRUM MASTER:</strong></p>
</div>

<div class="linha">
    <div class="descrição_2" >
        <h2>DOMINAR O SCRUM</h2>
        <p style="font-size: 150%;"> Tenha um profundo entendimento do framework Scrum, suas práticas e princípios.
        </p>
    </div>
    <div class="descrição_2" >
        <h2>COMUNICAÇÃO E EMPATIA</h2>
        <p style="font-size: 150%;"> Comunique-se de forma clara e empática com a equipe.
        </p>
    </div>
</div>

<div class="linha">
    <div class="descrição_2" >
        <h2>FACILITAÇÃO EFICAZ</h2>
        <p style="font-size: 150%;"> Habilidades de facilitação são cruciais para liderar reuniões e manter a equipe focada e produtiva.
        </p>
    </div>
    <div class="descrição_2" >
        <h2>PROMOVER AUTONOMIA</h2>
        <p style="font-size: 150%;"> Ajude a equipe a se tornar autossuficiente, incentivando a autorregulação e a melhoria contínua.
        </p>
    </div>
</div>

<div class="linha" style="align-items: center;">
    <div class="descrição_2" >
        <h2>TRANSPARÊNCIA</h2>
        <p style="font-size: 150%;"> Estimule a transparência em todas as atividades, incluindo métricas de desempenho e impedimentos.
        </p>
    </div>
    <div class="descrição_2" >
        <h2>LIDERANÇA SERVIDORA</h2>
        <p style="font-size: 150%;"> Adote uma mentalidade de liderança servidora, colocando as necessidades da equipe acima das suas.
        </p>
    </div>
</div>

<div class="descrição_3" >
    <h2>APRENDER E ADAPTAR</h2>
    <p style="font-size: 150%;"> Esteja disposto a aprender com as experiências da equipe e a adaptar-se às necessidades em constante mudança do projeto.
    </p>
</div>
