{% extends "layout.html" %}{% block css %}
<!-- Colocar o CSS específico da página dentro desse bloco -->
<link rel="stylesheet" href="../static/po.css">
{% endblock %}
{% block content %}
<!-- Imagem po -->
<div class="container_img">
  <div class="img-container">
    <img src="../static/img/master_1.png" class="img-fluid" alt="Metodologia Ágil" />
    <div class="text-overlay">
      <h1>Scrum Master</h1>
      <p>O Scrum Master é responsável por garantir que o Scrum seja entendido e
        aplicado pela equipe, para garantir que o time adere à teoria, práticas e
        regras do Scrum.</p>
    </div>
  </div>
</div>





<!-- Introdução PO -->
<div class="txt4" style="margin-top: 3.5%">
  <h5>Responsabilidades do Scrum Master:</h5>
  <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded texto_home_1">
    <h6>Para o Product Owner, o Scrum Master:</h6>
    <ul>
      <li>Ajuda a encontrar técnicas de gerenciamento eficazes para o Backlog</li>
      <li>
        Ajuda a estabelecer o planejamento empírico do produto para um ambiente
        complexo
      </li>
      <li>Facilita a colaboração dos stakeholders</li>
    </ul>
    </ul>
  </div>
  <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded texto_home_1">
    <h6>Para o Developer Team, o Scrum Master:</h6>
    <ul>
      <li>Treina o time em autogerenciamento e interdisciplinalidade;</li>
      <li>Ensina e lidera o time na criação de produtos de alto valor</li>
      <li>Remove impedimentos para progresso</li>
      <li>Facilita os eventos Scrum conforme exigidos ou necessários</li>
    </ul>
  </div>
</div>
<div class="card text-bg-dark" style="
  display: flex; width:70%; margin: 0 auto; align-items: flex-start;
  background-position: left top;
  background-origin: border-box;
  gap: 1rem;
  padding: 0.5rem;
  ">
  <img src="../static/img/po_2.png" class="card-img-overlay"
    style="position:absolute; width: 100%; height: 100%; z-index: 0; padding: 0;" alt="">
  <div class="container_guia_po" style="padding: 2%; z-index: 1">
    <h5 class="card-title" style="font-size: 3.3vh;">Guia: Papel do Scrum Master</h5>
    <div class="mx-start p-2">
      <p class="card-text" style="font-size: 2.6vh;">
        Este guia oferece para você o passo-a-passo essencial de como funciona
        o trabalho de um Scrum Master.
      </p>
    </div>
  </div>

  <!-- Modal -->
  <div style="color: black" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="exampleModalLabel">
            Guia: Papel do Scrum Master
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Passo 1 -->
        <div class="modal-body">
          <ol style="list-style: none">
            <li>
              <h5>Passo 1 - Entender os Fundamentos do Scrum:</h5>
              <p>
                <strong>Familiarize-se com os três papéis principais:</strong> Entenda qual papel os membros de sua
                equipe desempenham e como assistí-los em suas tarefas. <br /><strong>
                  Exemplo:</strong>
                Pesquise sobre os papeis do Scrum e converse com os membros de sua equipe para entender sobre
                impedimentos, dificuldades e dúvidas sobre a metodologia Scrum.
              </p>
              <p>
                <strong>Compreenda os eventos-chave:</strong> Sprint, Sprint Planning,
                Daily Scrum, Sprint Review e Sprint Retrospective.
              </p>
              <p>
                <strong>Entenda e faça uso dos artefatos fundamentais:</strong> Product Backlog,
                Sprint Backlog e Incremento do Produto.
              </p>
            </li>
          </ol>
          <hr />
          <!-- Passo 2 -->
          <div>
            <ul>
              <h5>Passo 2 - Adquirir Habilidades de Comunicação e Facilitação:</h5>
              <p>Pratique a escuta ativa para entender as necessidades e preocupações da equipe.
              </p>
              <p>Aprenda a comunicar-se de forma clara, evitando jargões ou linguagem técnica excessiva.
              </p>
              <p>Desenvolva habilidades de fazer perguntas abertas e poderosas para estimular a reflexão e a
                participação.
              </p>
            </ul>
          </div>
          <hr />

          <!-- Passo 3 -->
          <div>
            <ol>
              <h5>Passo 3 - Conhecer a Equipe:</h5>
              <p>
                Realize conversas individuais com os membros da equipe para conhecer seus
                objetivos, desafios e expectativas.
              </p>
              <p>
                Compreenda as habilidades e competências de cada membro para melhor alocar
                tarefas e responsabilidades.
              </p>
              <p>
                Identifique eventuais conflitos ou tensões na equipe e esteja preparado
                para ajudar a resolvê-los.
              </p>
            </ol>
          </div>
          <hr />

          <div>
            <ol>
              <h5>Passo 4 - Estabelecer um Ambiente de Confiança:</h5>

              <p>
                Promova um ambiente aberto e inclusivo onde os membros da equipe se sintam
                à vontade para compartilhar suas opiniões.
              </p>
              <p>
                Mantenha a confidencialidade e respeite a privacidade dos membros da
                equipe. Encoraje a honestidade e a transparência nas interações da equipe.
              </p>
              <p>Encoraje a honestidade e a transparência nas interações da equipe.</p>
            </ol>
          </div>

          <hr />

          <div>
            <ol>
              <h5>Passo 5 - Facilitar as Reuniões do Scrum:</h5>
              <p>
                Prepare a equipe para cada reunião, garantindo que todos compreendam os
                objetivos e a agenda.
              </p>
              <p>
                Mantenha as reuniões no tempo e no escopo previstos, mantendo o foco nos
                objetivos definidos.
              </p>
              <p>
                Estimule a participação ativa de todos os membros, garantindo que cada um
                tenha a oportunidade de contribuir.
              </p>
            </ol>
          </div>
          <hr>
          <div>
            <ol>
              <h5>Passo 6 - Remover Obstáculos</h5>
              <p>Esteja atento a possíveis impedimentos ou obstáculos que possam prejudicar
                o progresso da equipe.</p>
              <p>Ajude a identificar soluções ou encaminhe os obstáculos para as partes
                responsáveis pela resolução.</p>
              <p>Garanta que a equipe tenha os recursos e suporte necessários para cumprir
                seus compromissos.</p>
            </ol>
          </div>
          <hr>
          <div>
            <ol>
              <h5>Passo 7 - Manter a Documentação Adequada</h5>
              <p>Certifique-se de que os artefatos do Scrum (Product Backlog, Sprint
                Backlog, Incremento do Produto) estejam sempre atualizados e acessíveis à
                equipe.</p>
            </ol>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
  <button style="z-index: 1; margin-left: 1rem; margin-bottom: 0.5rem;" type="button" class="btn btn-primary"
    data-bs-toggle="modal" data-bs-target="#exampleModal">
    Clique aqui
  </button>
</div>

<div class="txt4" style="margin-top: 3.5%">
  <h5>Como se tornar um bom Scrum Master:</h5>
  <div class="texto_po_2 shadow-sm p-3 mb-5 bg-body-tertiary rounded texto_home_1">
    <h6>Dominar o Scrum</h6>
    <p>
      Tenha um profundo entendimento do framework Scrum, suas práticas e
      princípios.
    </p>

    <h6>Comunicação e empatia</h6>
    <p>
      Comunique-se de forma clara e empática com a equipe.
    </p>

    <h6>Facilitação eficaz</h6>
    <p>
      Habilidades de facilitação são cruciais para liderar reuniões e manter a
      equipe focada e produtiva.
    </p>

    <h6>Promover autonomia</h6>
    <p>
      Ajude a equipe a se tornar autossuficiente, incentivando a
      autorregulação e a melhoria contínua.
    </p>

    <h6>Transparência</h6>
    <p>
      Estimule a transparência em todas as atividades, incluindo métricas de
      desempenho e impedimentos.
    </p>

    <h6>Liderança servidora</h6>
    <p>
      Adote uma mentalidade de liderança servidora, colocando as necessidades
      da equipe acima das suas.
    </p>

    <h6>Aprender e adaptar</h6>
    <p>
      Esteja disposto a aprender com as experiências da equipe e a adaptar-se às
      necessidades em constante mudança do projeto.
    </p>
  </div>
</div>

<div class="txt4">
  <h5>Quiz: Scrum Master</h5>
  <form action="" id="quizForm">
    <div style="margin-top: 3.5%;" class=" perguntas texto_home_1 shadow p-3 mb-5 bg-body-tertiary rounded ">
      <div class="pergunta" id="pergunta1">
        <h6>1. Dentre os papéis do scrum, a definição que mais se encaixa no papel do Master é:
        </h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta1" id="opcao1_1" value="opcao1">
          <label class="form-check-label" for="opcao1_1"> a) Ter o compromisso com os valores e práticas do Scrum e
            maner a flexibilidade e a abertura para oportunidades de melhorar o fluxo de trabalho da equipe.</label>
        </div>
        <div class="form-check" correct>
          <input class="form-check-input" type="radio" name="resposta1" id="opcao1_2" value="opcao2">
          <label class="form-check-label" for="opcao1_2">b) Atua principalmente no desenvolvimento do back enddo projeto
            e suas variações.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta1" id="opcao1_3" value="opcao3">
          <label class="form-check-label" for="opcao1_3">c) Contribui com sua lidença, sem usar adequadamente as
            ferramentas da metodologia Scrum.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta1" id="opcao1_4" value="opcao4">
          <label class="form-check-label" for="opcao1_4">d) Os mestres do scrum não são os facilitadores do scrum, a
            estrutura ágil e leve com foco em iterações com intervalos de tempo chamadas sprints.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta1" id="opcao1_5" value="opcao5">
          <label class="form-check-label" for="opcao1_5">e) Mestres de Scrum que muitas vezes desempenham parte ou todos os itens.</label>
        </div>
      </div>

      <div class="pergunta" id="pergunta2" style="display: none;">
        <h6>2. Caracteristicas de um Scrum master eficiente, são elas:</h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta2" id="opcao2_1" value="opcao1">
          <label class="form-check-label" for="opcao2_1">a) Dominar o Scrum,Comunicação, empatia, eficacia, promover autonomia, equipe.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta2" id="opcao2_2" value="opcao2">
          <label class="form-check-label" for="opcao2_2">b) Dominar o kanban, empatia, eficacia, Comunicação,individualista.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta2" id="opcao2_3" value="opcao3">
          <label class="form-check-label" for="opcao2_3">c) Dominar o Scrum, autonomia, eficacia, autoritário ,individualista.</label>
        </div>
        <div class="form-check" correct>
          <input class="form-check-input" type="radio" name="resposta2" id="opcao2_4" value="opcao4">
          <label class="form-check-label" for="opcao2_4">d) Dominar o Kanban, autonomia, eficacia, autoritário ,individualista.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta2" id="opcao2_5" value="opcao5">
          <label class="form-check-label" for="opcao2_5">e) Dominar o Scrum, autonomia, eficacia, simpatico ,individualista.</label>
        </div>
      </div>

      <div class="pergunta" id="pergunta3" style="display: none;">
        <h6>3. De fato, a gente encontra mestres de Scrum que muitas vezes desempenham parte ou todos os itens a seguir, são definidos pelo Scrum:</h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta3" id="opcao3_1" value="opcao1">
          <label class="form-check-label" for="opcao3_1">a) Reuniões de planejamento de sprint e interação com os time de desenvolvimento.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta3" id="opcao3_2" value="opcao2">
          <label class="form-check-label" for="opcao3_2">b) Antecipação das necessidades do cliente.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta3" id="opcao3_3" value="opcao3">
          <label class="form-check-label" for="opcao3_3">c) Avaliação do andamento do produto em cada iteração com o cliente.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta3" id="opcao3_4" value="opcao4">
          <label class="form-check-label" for="opcao3_4">d) Gerenciamento da lista de pendências do produto e avaliada pelo clinte.</label>
        </div>
        <div class="form-check" correct>
          <input class="form-check-input" type="radio" name="resposta3" id="opcao3_5" value="opcao5">
          <label class="form-check-label" for="opcao3_5">e) Definição da visão tendo uma conversa com o cliente.</label>
        </div>
      </div>

      <div class="pergunta" id="pergunta4" style="display: none;">
        <h6>4. Qual é a principal função do Product Owner (PO) em relação ao backlog do produto?</h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta4" id="opcao4_1" value="opcao1">
          <label class="form-check-label" for="opcao4_1">a) Atualizar o backlog com todos os requisitos
            técnicos.</label>
        </div>
        <div class="form-check" correct>
          <input class="form-check-input" type="radio" name="resposta4" id="opcao4_2" value="opcao2">
          <label class="form-check-label" for="opcao4_2">b) Priorizar o backlog com base no valor do negócio e nas
            necessidades dos stakeholders.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta4" id="opcao4_3" value="opcao3">
          <label class="form-check-label" for="opcao4_3">c) Garantir que o backlog contenha apenas itens de baixa
            prioridade.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta4" id="opcao4_4" value="opcao4">
          <label class="form-check-label" for="opcao4_4">d) Documentar somente as histórias de usuário sem detalhar as
            tarefas.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta4" id="opcao4_5" value="opcao5">
          <label class="form-check-label" for="opcao4_5">e)Delegar a responsabilidade do backlog para o time de
            desenvolvimento.</label>
        </div>
      </div>

      <div class="pergunta" id="pergunta5" style="display: none;">
        <h6>5. Quem é responsável por atualizar e priorizar continuamente o backlog do produto?</h6>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta5" id="opcao5_1" value="opcao1">
          <label class="form-check-label" for="opcao5_1">a) Apenas o Product Owner.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta5" id="opcao5_2" value="opcao2">
          <label class="form-check-label" for="opcao5_2">b) O Scrum Master.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta5" id="opcao5_3" value="opcao3">
          <label class="form-check-label" for="opcao5_3">c) Somente o time de desenvolvimento.</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resposta5" id="opcao5_4" value="opcao4">
          <label class="form-check-label" for="opcao5_4">d) Todos os stakeholders.</label>
        </div>
        <div class="form-check" correct>
          <input class="form-check-input" type="radio" name="resposta5" id="opcao5_5" value="opcao5">
          <label class="form-check-label" for="opcao5_5">e) O Product Owner em colaboração com o time de desenvolvimento
            e
            stakeholders.</label>
        </div>
      </div>
      <!-- Adicionar mais perguntas seguindo o modelo acima -->

      <div class="d-flex justify-content-between align-items-center">
        <button type="submit" id="bverificar" class="btn btn-sm btn-outline-primary mt-2 ">Verificar</button>
        <div class="ml-auto">
          <button type="button" id="banterior" class="btn btn-sm btn-outline-dark mt-2 " onclick="mudarPergunta(-1)"
            style="display: none;">Anterior</button>
          <button type="button" id="bproximo" class="btn btn-sm btn-outline-dark  mt-2 "
            onclick="mudarPergunta(1)">Próxima</button>
        </div>
      </div>

  </form>
</div>
</div>

<script src="../static/quiz.js"></script>

{% endblock %}