{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Sprint</h1>
</div>

<div class="conteudo_interno size">
    <p>
        Sprint no Scrum é um período de trabalho intensivo e focado, geralmente
        com duração de 2 a 4 semanas, no qual a equipe de desenvolvimento
        trabalha para criar incrementos de um produto. É uma abordagem iterativa
        e colaborativa que permite à equipe responder rapidamente às mudanças e
        entregar valor de forma constante aos clientes e partes interessadas. A
        Sprint é uma das principais características do Scrum e ajuda a promover
        a transparência, a colaboração e a entrega de produtos de alta
        qualidade.
    </p>
</div>

<div class="conjunto-baloes-sprint size">
    <div class="linha_direita">
        <div class="conteudo_interno">
            <p>
                <strong>Objetivo da Sprint:</strong> Cada Sprint tem um objetivo
                claro
            </p>
        </div>
    </div>
    <div class="linha_esquerda">
        <div class="conteudo_interno size">
            <p>
                <strong>Planejamento da Sprint:</strong> Selecionar tarefas do
                Backlog para serem concluídas
            </p>
        </div>
    </div>
    <div class="linha_direita">
        <div class="conteudo_interno size">
            <p>
                <strong>Daily Scrum:</strong> Breves reuniões diárias para
                alinhar as ideias da equipe
            </p>
        </div>
    </div>
    <div class="linha_esquerda">
        <div class="conteudo_interno size">
            <p>
                <strong>Revisão da Sprint:</strong> No fim da Sprint, a equipe
                apresenta o resultado obtido.
            </p>
        </div>
    </div>
    <div class="linha_direita">
        <div class="conteudo_interno size">
            <p>
                <strong>Retrospectiva da Sprint:</strong> A equipe avalia seu
                desempenho e identifica melhorias.
            </p>
        </div>
    </div>
</div>

<!--Aplicando a sprint-->
<h2>Guia: Exemplo de uma Sprint</h2>
<div class="lista-itens conteudo_interno">
    <ol>
        <li><strong>Planejamento da Sprint</strong><br>A equipe realiza uma reunião de planejamento da Sprint, onde o <a
                class="link_sprint" href="productowner">Product Owner</a> (responsável por definir os
            requisitos do produto) apresenta as funcionalidades de maior prioridade do Backlog do Produto.</li>
        <li>Durante a reunião, a equipe seleciona as tarefas a serem realizadas na Sprint com base na capacidade de
            trabalho e prioridade.
        </li>
        <hr>
        <li><strong>Backlog da Sprint</strong><br>
            As tarefas selecionadas são movidas do <a class="link_sprint" href="productbacklog">Backlog do Produto</a>
            para o <a class="link_sprint" href="sprintback">Backlog da Sprint</a>, que agora contém o
            trabalho a ser realizado na Sprint. </li>
        <hr>
        <li><strong>Desenvolvimento e Colaboração</strong><br>
            Durante a Sprint, a equipe trabalha nas tarefas definidas no Backlog da Sprint.</li>
        <li>A equipe se reúne diariamente para a <a class="link_sprint" href="eventos">Daily Scrum</a> para discutir o
            progresso, identificar obstáculos e ajustar o plano, se necessário.</li>
        <hr>
        <li><strong>Revisão da Sprint</strong><br>
            Ao final do tempo estabelecido para sprint, a equipe realiza uma reunião de revisão da Sprint, onde
            demonstra o que foi concluído. No exemplo:
        </li>
        <li>O Product Owner e outros <a class="link_sprint" href="glossario">stakeholders</a> examinam o trabalho
            concluído e fornecem feedback, que pode ser usado para ajustar o Backlog do Produto.</li>
        <hr>
        <li><strong>Retrospectiva da Sprint</strong><br>
            Após a reunião de revisão, a equipe realiza uma retrospectiva da Sprint para avaliar o processo e
            identificar melhorias.
        </li>
    </ol>
</div>
<div class="conteudo_interno size">
<p>Após a retrospectiva, a equipe inicia uma nova Sprint, selecionando novas tarefas com base nas prioridades do
    Backlog do Produto e no feedback recebido. Este ciclo se repete a cada sprint, permitindo que o produto
    evolua de forma iterativa e que a equipe ajuste continuamente sua abordagem com base no feedback e nas lições
    aprendidas.</p></div>









{% endblock %}