{% extends "layout.html" %}{% block content %}

<div class="título_principal">
    <h1>Sprint Backlog</h1>
</div>

<div class="conteudo_interno size">
    <p>
        É uma lista de tarefas concretas selecionadas do Product Backlog para a
        próxima sprint. Ele representa o trabalho planejado pelo Development
        Team exclusivamente para a sprint atual.
    </p>
    <p></p>
    <p></p>
    <ul>
        <li>
            <strong>Planejamento do Sprint:</strong> Realize uma reunião de
            planejamento do Sprint para definir os objetivos e metas do Sprint.
        </li>
        <p></p>
        <p></p>
        <li>
            <strong>Seleção de Histórias de Usuário:</strong> Escolha as
            histórias de usuário que serão trabalhadas durante o Sprint.
        </li>
        <p></p>
        <p></p>
        <li>
            <strong>Estimativas e Priorização:</strong> A equipe estima o
            esforço de cada história, prioriza as tarefas e, com base nisso, faz
            um compromisso sobre o que será realizado no Sprint.
        </li>
        <p></p>
        <p></p>
        <li>
            <strong>Registro no Sprint Backlog:</strong> Documente as tarefas,
            estimativas e priorizações em um Sprint Backlog visível para a
            equipe.
        </li>
        <p></p>
        <p></p>
        <li>
            <strong>Acompanhamento e Revisão:</strong> Acompanhe o progresso
            durante o Sprint, ajustando o Sprint Backlog conforme necessário, e
            revise-o na conclusão do Sprint para avaliação e melhoria contínua.
        </li>
    </ul>
</div>

{% endblock %}
