{% extends "layout.html" %} {% block style %}
<link rel="stylesheet" href="../static/sprint.css" />
{% endblock %} {% block content %}
<div class="título_principal">
  <h1>SPRINT</h1>
</div>

<div class="descrição_1" >
      <p style="font-size: 150%;"> Sprint no Scrum é um período de trabalho intensivo e focado, geralmente com duração de 2 a 4 semanas, no qual a equipe de desenvolvimento trabalha para criar incrementos de um produto. É uma abordagem iterativa e colaborativa que permite à equipe responder rapidamente às mudanças e entregar valor de forma constante aos clientes e partes interessadas. A Sprint é uma das principais características do Scrum e ajuda a promover a transparência, a colaboração e a entrega de produtos de alta qualidade.
      </p>
</div>
<div class="imagem_1">
</div>


<div class="caixa_1" >
  <h2>OBJETIVO DA SPRINT</h2>
  <p style="font-size: 150%;"> Cada Sprint tem um objetivo claro relacionados às metas do projeto 
  </p>


















{% endblock %}

<!-- <div class="contedos-sprint">
  <div class="overlap">
    <div class="content-variant">
      <div class="overlap-group">
        <img class="vector" src="img/vector.svg" />
        <div class="frame"></div>
        <p class="planejamento-do">
          <span class="text-wrapper">Planejamento do Sprint:<br /></span>
          <span class="span"
            >Selecionar tarefas do Backlog para serem concluídas</span
          >
        </p>
        <div class="div"></div>
        <p class="revis-o-do-sprint-no">
          <span class="text-wrapper">Revisão do Sprint: </span>
          <span class="span"
            >No fim da Sprint, a equipe apresenta o resultado obtido.</span
          >
        </p>
        <div class="frame-2"></div>
        <p class="daily-scrum-breves">
          <span class="text-wrapper">Daily Scrum: </span>
          <span class="span"
            >Breves reuniões diárias para alinhar as ideias da equipe</span
          >
        </p>
        <div class="objetivo-da-sprint-wrapper">
          <p class="objetivo-da-sprint">
            <span class="text-wrapper">Objetivo da Sprint: <br /></span>
            <span class="text-wrapper-2"
              >Cada Sprint tem um objetivo claro</span
            >
          </p>
        </div>
      </div>
      <div class="overlap-2">
        <div class="frame-3"></div>
        <p class="retrospectiva-do">
          <span class="text-wrapper">Retrospectiva do Sprint: </span>
          <span class="span"
            >A equipe avalia seu desempenho e identifica melhorias.<br />.</span
          >
        </p>
      </div>
      <div class="text-wrapper-3">Sprint</div>
    </div>
    <p class="p">
      Sprint no Scrum é um período de trabalho intensivo e focado, geralmente
      com duração de 2 a 4 semanas, no qual a equipe de desenvolvimento trabalha
      para criar incrementos de um produto. É uma abordagem iterativa e
      colaborativa que permite à equipe responder rapidamente às mudanças e
      entregar valor de forma constante aos clientes e partes interessadas. A
      Sprint é uma das principais características do Scrum e ajuda a promover a
      transparência, a colaboração e a entrega de produtos de alta qualidade.
    </p>
  </div>
</div>-->