.título_principal {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 2%; 
    margin-top: 2.5%;
  }
  
  .descrição_1 {
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
    width: 88%;
    flex-direction: column;
    padding: 2.5%; 
    margin-left: 3.6%;
    border-radius: 35px;
    background-color: #dbdbdb;
    text-align: left;
    display: block;
  }
  
  .descrição_2 {
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
    width: 88%;
    flex-direction: column;
    padding: 2.5%; 
    margin-left: 3.6%;
    border-radius: 35px;
    background-color: #dbdbdb;
    text-align: left;
    display: block;
    margin-top: 2.5%;
    
  }

  .imagem_1 {
    margin-top: 2.5%;
    text-align: center;
  }

  .descrição_3 {
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
    width: 88%;
    flex-direction: column;
    padding: 2.5%; 
    margin-left: 3.6%;
    border-radius: 35px;
    background-color: #dbdbdb;
    text-align: left;
    display: block;
    margin-top: 2.5%;
  }

  .descrição_4 {
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
    width: 88%;
    flex-direction: column;
    padding: 2.5%; 
    margin-left: 3.6%;
    border-radius: 35px;
    background-color: #dbdbdb;
    text-align: left;
    display: block;
    margin-top: 2.5%;
}