.alinhamento_texto{
    display: flex;
    text-align: start;
}


/* Navbar */
.container_navbar{
    font-size: 2.2vh;
}

/* Card */
.container_card{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    font-size: 2.2vh;
}

/* Página HOME */

/* Imagem */
.container_imagem{
    position: relative;
    display: inline-block;
}
.container_txt_home{
    color: white;
    font-size: 5.2vh;
    font-weight: bold;
    position: absolute;
    top:40%;   
    left: 35%;
    transform: translate(-50%, -50%);
}
.container_txt2_home{
    color: white;
    font-size: 2.2vh;
    position: absolute;
    top: 76%;   
    left: 24%;
    transform: translate(-50%, -50%)
}
.txt4 {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
}

.txt4 h5{
   font-size: 3.3vh;
}


/* Introdução */
.texto_home_1{
    font-size: 2.2vh;
    padding: 2%
}


 /* Rodapé */
.container_rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333652;
    color: white;
    font-size: 2.2vh;
    font-weight: 200;

}

.container_rodape p{
    margin-top: 1.5%;
}


/* CSS PAGE papéis and artefatos */

/* Imagem */
/* ----------------------- */

.container_img {
    text-align: center;
}

.img-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 39%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: start;
}

.text-overlay h1 {
    color: #333;
    font-size: 4.5vh;
    margin-bottom: 10px;
}

.text-overlay p {
    color: black;
    line-height: 1.5;
    width: 73%;
    font-size: 2.2vh;
}


/* --------------------------- */
.container_card_po {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2.2vh;
}

.container_card_po h5 {
    font-size: 3.4vh;
}


.container_guia_po {
    width: 530px;
}

.tabela_backlog {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.linha_backlog {
    display: flex;
    align-items: center;
}

.coluna_backlog {
    flex: 1; 
    padding: 3px;
    border: 1px solid #ccc;
}



/* --------   MEDIA  ---------- */

@media screen and (max-width: 800px) {
    .container_txt_home,
    .container_txt2_home,
    .container_txt_po,
    .container_txt2_po {
        display: none; 
    }
}

@media screen and (max-width: 1130px) {
    .text-overlay,
    .container_txt_po,
    .container_txt2_po {
        display: none; 
    }
}

