/* Navbar GERAL*/
.container_navbar_principal{
    height: 90px;
}

.container_navbar{
    height: 50px;
    font-size: 17px;
}

/* Card */
.container_card{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    font-size: 80%;
}

/* Imagem */
.container_imagem{
    margin-top: 2%;
    position: relative;
}
.container_txt_home{
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top:25%;   
    left: 28%;
    transform: translate(-50%, -50%);
    width: 650px;
}
.container_txt2_home{
    color: white;
    font-size: 18px;
    position: absolute;
    top: 60%;   
    left: 17.8%;
    transform: translate(-50%, -50%)
}
.container_txt3_home{
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 52%;   
    left: 85%;
    transform: translate(-50%, -50%)
}
/* Introdução */
.texto_home_1{
    display: flex;
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
}

.container_rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333652;
    color: white;
    font-size: 15px;
    font-weight: 200;
   

}

.container_rodape p{
    margin-top: 1.5%;
}




/* CSS PAGE PAPÉIS( PRECISA ISOLAR ELE NO PAPÉIS.CSS) */
/* Imagem */
.container_imagem{
    margin-top: 2%;
    position: relative;
}
.container_txt_po{
    color: black;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top:25%;   
    left: 15.5%;
    transform: translate(-50%, -50%)
}
.container_txt2_po{
    color: black;
    font-size: 18px;
    position: absolute;
    top: 50%;   
    left: 28%;
    transform: translate(-50%, -50%);
    width: 650px;
}

.texto_po_1{
    display: flex;
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
}

.texto_po_2{
    display: flex;
    flex-direction: column;
}

.texto_po_2 h5{
    font-size: 21px;
}

.container_card_po {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.container_guia_po {
    width: 530px;
    
}