/* Navbar */
.container_navbar{
    font-size: 17px;
}

/* Card */
.container_card{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    font-size: 80%;
}

/* Página HOME */

/* Imagem */
.container_imagem{
    position: relative;
    display: inline-block;
}
.container_txt_home{
    color: white;
    font-size: 2.9vw;
    font-weight: bold;
    position: absolute;
    top:40%;   
    left: 35%;
    transform: translate(-50%, -50%);
}
.container_txt2_home{
    color: white;
    font-size: 1.2vw;
    position: absolute;
    top: 76%;   
    left: 24%;
    transform: translate(-50%, -50%)
}
.txt4 {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
}


/* Introdução */
.texto_home_1{
    font-size: 17px;
    padding: 2%
}


 /* Rodapé */
.container_rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333652;
    color: white;
    font-size: 15px;
    font-weight: 200;

}

.container_rodape p{
    margin-top: 1.5%;
}


/* CSS PAGE papéis and artefatos */
/* Imagem */
.container_imagem{
    position: relative;
}

.container_txt_po{
    color: black;
    font-size: 2.9vw;
    font-weight: bold;
    position: absolute;
    top:30%;   
    left: 20%;
    transform: translate(-50%, -50%);
}
.container_txt2_po{
    color: black;
    font-size: 17px;
    position: absolute;
    top: 55%;   
    left: 31%;
    width:42%;
    transform: translate(-50%, -50%)
}


/* .container_txt_po{
    color: black;
    font-size: 2.5vw;
    font-weight: bold; 
}
.container_txt2_po{
    color: black;
    font-size: 1.1vw;
    margin-top: 4vh;
    width: 45vw;
}

.txtimagem{
    position: absolute;
    top: 20%;
    left: 9vw;
} */

.texto_po_1{
    display: flex;
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
}

.texto_po_2{
    display: flex;
    flex-direction: column;
}

.texto_po_2 h5{
    font-size: 21px;
}

.container_card_po {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.container_guia_po {
    width: 530px;
}



@media screen and (max-width: 800px) {
    .container_txt_home,
    .container_txt2_home,
    .container_txt_po,
    .container_txt2_po {
        display: none; 
    }
}

@media screen and (max-width: 1050px) {
    .container_txt_po,
    .container_txt2_po {
        display: none; 
    }
}

