.alinhamento_texto{
    display: flex;
    text-align: start;
}


/* Navbar */
.container_navbar{
    font-size: 2.2vh;
}

/* Card */
.container_card{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    font-size: 2.2vh;
}

 /* Rodapé */
 .container_rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333652;
    color: white;
    font-size: 2.2vh;
    font-weight: 200;

}

.container_rodape p{
    margin-top: 1.5%;
}