body {
    margin: 0;
    padding: 0;
    margin: 0 0;
    
}


.alinhamento_texto{
    display: flex;
    text-align: start;
}


/* Navbar */
.container_navbar{
    font-size: 2.2vh;
}


  

 /* ------Rodapé --------*/
 .container_rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: black;
    font-size: 2.2vh;
    font-weight: 200;

}

.container_rodape p{
    margin-top: 1.5%;
}