* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #dbdbdb;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

abbr {
    text-decoration: underline;
}
 
/* Para deixar a barra horizontal invisível. */
/* hr {
    visibility: hidden;
} */

.side-menu-container {
    width: 18%;
    min-width: fit-content;
}

.side-menu {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 1vw 1.2vw;
    background-color: #ffffff;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 2px 0px 90px #00000040;
    position: fixed;
    min-width: fit-content;
    min-height: 75%;
}

.side-menu h1 {
    justify-content: right;
    margin-top: 1vh;
    align-self: flex-end;
    margin-bottom: 2vh;
    font-family: "Inter-Bold", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2vw;
    gap: 3px;
}

.side-menu a,
.dropdown-topic {
    padding: 5px 10px;
    font-family: "Inter-SemiBold", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3vw;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    text-align: center;
    gap: 5px;
    border-radius: 15px;
}

.subtopicos a {
    font-size: 80%;
}

.side-menu a, .dropdown-topic {
    transition: border-radius 150ms linear;
    transition: background-color 150ms linear;
}

.side-menu a:hover,
.dropdown-topic:hover {
    background-color: rgba(0,0,0,15%);
    border-radius: 15px;
}

.subtopicos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    display: none;
}

.conteudo-container {
    width: 82%;
}

.conteudo {
    margin: 3% auto;
    min-height: 90%;
    padding: 2% 4%;
    width: 80%;
    background-color: #ffffff;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.dropdown-title {
    display: flex;
    width: 100%;
    /* vertical-align: middle; */
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    text-align: right;
}

/* Interatividade dos dropdowns */

/* não me pergunte sobre a compatibilidade nem o quanto demorei pra descobrir isso. */
.dropdown-topic:has(>.topic-checkbox:checked) { 
    background-color: rgba(0,0,0,15%);
    border-radius: 15px;
}

.topic-checkbox {
    display: none;
}

.dropdown-title > .arrow-logo {
    height: 2vh;
    width: 2vh;
    transition-duration: 0.2s;
    transition-property: transform;
    transform: rotate(0deg);
}

.topic-checkbox:checked ~ .dropdown-title > .arrow-logo {
    transform: rotate(180deg);
}

.topic-checkbox:checked ~ .subtopicos {
    display: flex;
}