body {
  background-color: #dbdbdb;
  margin: 0;
}
.layout {
  background-color: #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.layout .div {
  display: flex;
  justify-content: space-between;
  background-color: #dbdbdb;
  width: 100%;
  height: 100%;
}

.layout .container {
  width: 85%;
}

.layout .contedos {
  height: 1268px;
  width: 75%;
  margin: 10% auto 0 auto;
  background-color: #ffffff;
  border-radius: 35px;
}

.layout .side-menu {
  display: flex;
  flex-direction: column;
  width: 15%;
  max-height: 720px;
  height: 720px;
  align-items: flex-end;
  gap: 15px;
  padding: 20px 12px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  box-shadow: 2px 0px 90px #00000040;
}

.layout .text-wrapper {
  position: relative;
  width: 194px;
  height: 38px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.layout .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 3px 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.layout .div-wrapper:active, .dropdown-topic:active{
  background-color: var(--semitransparentbackground);
  border-radius: 20px;
}

.layout .text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.layout .text-2 {
  margin-left: -4px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.layout .dropdown-topic {
  display: flex;
  width: 211px;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 3px 5px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -9px;
}

.layout .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.layout .arrow-logo {
  position: relative;
  width: 20px;
  height: 20px;
}

:root {
  --semitransparentbackground: rgba(0, 0, 0, 0.05);
  --text-font-family: "Inter-Bold", Helvetica;
  --text-font-weight: 700;
  --text-font-size: 20px;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
  --text-font-style: normal;
  --collection-1-done: rgba(255, 0, 0, 0.25);
}