



 /* ------- imagem ------- */
.img-container {
  position: relative;
}

  /* -------- card ------- */
.container_flex{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 3%;
font-weight: 300;
font-size: 90%;
}


/* ------- texto 1  -------- */
.text-overlay {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 0px 0px;
  top: 40%;
  position: absolute;
  text-align: start;
  max-width: 75%;
  padding: 0px 0px;
}


.text-overlay h1 {
  color: #333;
  font-size: 5.3vh;
  
}

.text-overlay p {
  margin: 0 0;
  padding: 0 0;
  color: black;
  width: 75%;
  font-size: 2.2vh;
  font-weight: 300;
}



/* ------- texto 2 -------- */
.text-overlay2{
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  top: 0%;
  right:0%;
  position: absolute;
  text-align: start ;
  max-width: 50%;
  padding: 0px 0px;
  
}

.text-overlay2 h1 {
  margin-top: 3%;
  color: #333;
  font-size: 4vh;
  margin-bottom: 5%;
}
.flex_1{
  display: flex;
}


.text-overlay2 p {
  color: #333;
  font-size: 2.2vh;
  font-weight: 300;
}

/* ------- texto 3  -------- */
.text-overlay3 {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  text-align: start;
  padding: 0px 0px;
  max-width: 100%;
}

.text-overlay3 h5{
  font-size: 4vh;
  margin-bottom: 2%;

}

.text-overlay3 p {
  margin: 0 0;
  padding: 0 0;
  color: black;
  font-size: 2.2vh;
  font-weight: 300;
}

.text-overlay3 li {
  margin: 0 0;
  padding: 0 0;
  color: black;
  font-size: 2.2vh;
  font-weight: 300;
}


/* ------- texto 4  -------- */
.text-overlay4 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 0px 0px;
  top: 22%;
  position: absolute;
  text-align: start;
  padding: 0px 0px;
  max-width: 50%;
}


.text-overlay4 h1 {
  color:white;
  font-size: 4vh;
  
}

.text-overlay4 p {
  margin: 0 0;
  padding: 0 0;
  color: white;
  font-size: 2.2vh;
  font-weight: 300;
}

/*  ----------- texto 5 (pages) --------- */
.text-overlay5 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 0px 0px;
  top: 30%;
  position: absolute;
  text-align: start;
  max-width: 75%;
  padding: 0px 0px;
}


.text-overlay5 h1 {
  color: #333;
  font-size: 5.3vh;
  
}

.text-overlay5 p{
  margin: 0 0;
  padding: 0 0;
  color: black;
  width: 75%;
  font-size: 2.2vh;
  font-weight: 300;
}


/* -------- */
.text-overlay6 {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  
  padding: 0px 0px;
  text-align: center;
  justify-content: center;
}


.text-overlay6 h5 {
  color: #333;
  font-size: 5vh;
  margin-bottom: 2%;
  
}

.text-overlay6_1 {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  margin-top: -2%;
  padding: 0px 0px;
  text-align: start;
  max-width: 40%;
  font-size: 2.2vh;

}

.text-overlay6_1_2 {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align: start;
  max-width: 40%;
  font-size: 2.2vh;
  margin-top: -2%;
  max-width: 40%;
  align-self: flex-end;
  margin-bottom: 8%;
  

}

.flex_texto{
  display: flex;
  justify-content: space-between;
}











/* ------- GUIA --------*/

.guia{
  margin-top: 3%;
}




/* ------- CSS específico DA PAGE PO E Productbacklog ---------   */
.tabela_backlog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linha_backlog {
  display: flex;
  align-items: center;
}

.coluna_backlog {
  flex: 1;
  padding: 3px;
  border: 1px solid #ccc;
}

.tabela_backlog {
  display: table;
  width: 100%;
}

.linha_backlog {
  display: table-row;
}

.coluna_backlog {
  display: table-cell;
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}



 /* --------   QUIZ  ---------- */

.certo, .errado {
  border-radius: 8px;
}
.certo {
  background-color: rgba(0,255,0,0.5);
}

.errado {
  background-color: rgba(255,0,0,0.5);
}



/* --------   MEDIA  ---------- */


@media screen and (max-width: 900px) {
  .text-overlay {
    display: none;
  }
}



@media screen and (max-width: 1100px) {
  .text-overlay2  {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .text-overlay4  {
    display: none;
  }
}


@media screen and (max-width: 1200px) {
  .text-overlay5  {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .img_media  {
    display: none;
  }
}
