.conteudo h1 {
    display: flex;
    justify-content: center;
}

.conteudo_interno {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 4% 2.5%;
    border-radius: 35px;
    background-color: #dbdbdb;
    width: 100%;
    height: auto;
    
}

.apresentacao_baloes {
    width: fit-content;
    border: 2px solid;
}
.conjunto-baloes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.conjunto-baloes-sprint {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-image: url(.//img/Vector.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 75%;
    background-position-y: center;
}

.conjunto-baloes .conteudo_interno {
    max-width: 50%;
}

.conjunto-baloes-sprint .conteudo_interno {
    max-width: 55%;
}

.conteudo_interno_branco {
    display: flex;
    flex-direction: column;
    padding: 2.5% 5%;
    gap: 6px;
}

.imagem_1 {
    text-align: center;
  

}

/* papeis */
.linha {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.linha_direita {
    display: flex;
    justify-content: right;
}

.linha_esquerda {
    display: flex;
    justify-content: left;
}

/* sprint */
.imagem_1_sprint {
    background-image: url(/src/static/img/Vector.png);
    margin-top: 2.5%;
    text-align: center;
    height: 600px;
    justify-content: center;
    background-size: cover;
}

/* sprint */
.caixa_1 {
    color: black;
    width: 50%;
    padding: 2.5%;
    margin-left: 3.6%;
    border-radius: 35px;
    background-color: #dbdbdb;
    text-align: center;
    display: block;
    font-size: 100%;
}

p,
ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 150%;
    margin: 0;
}

h2 {
    margin: 0;
}

.caixa_avaliador {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-right: 40%;
}

.ajuste_1{
    margin: 0 auto;
    font-size: 100%;
    text-align: left;
    
}

.pergunta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.5%;
}
.info > ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 3%;
    gap: calc(5vw + 23.4px);
}
.info > ol > li {
    width: 23.4;
}

form {
    display: flex;
    gap: 2vh;
    flex-direction: column;
}

.botao {
    display: flex;
    vertical-align: center;
    gap: 5vw;
    flex-direction:row;
    margin-right: 3%;

}

.conteudo_interno2 {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 4% 2.5%;
    border-radius: 35px;
    background-color: #dbdbdb;
    width: 100%;
    height: auto;
    border: 2px solid  rgb(0, 0, 0)
}

input[type=radio] {
    transform: scale(1.8);
}
input[type=submit]{
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
}

.criterios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.criterios > h2 {
    margin-left: 8%;
}

.criterios >  p {
    margin-right: 6%;

}
